/* @override
	http://localhost:8888/cma/ln/br/wp-content/themes/ln-BRAZIL-theme/css/bsors.css */

/* Bootstrap4 Overrides */



/* Show it is fixed to the top */
body {
  min-height: 75rem;

}
header#branding{
	width:100%;
	/*max-width:960px;*/
	/*border:10px solid black;*/
	height: 97px;
	margin-bottom: -1px;
	padding:0px;
	/*position:fixed;*/
	margin:0px;
	top: 0px;left:0px;
}

#branding div.navbar.navbar-light.bg-light div.container.container-960 {
	/*width:960px;*/
	padding:0px;
	/*width:100%!important;*/
}

div.container{
	max-width:960px;
}

#branding div.navbar{
	padding:0px!important;
	/*background: #b9b9d1 !important;*/

	height: 93px;
}

#branding div.container.container-960 div.navbar.navbar-expand-md.navbar.fixed-top.navbar-light.bg-light {
	width:100%;
	left: -40px!important;
		/*max-width:100%;*/
	/*margin:0 auto;*/
}






.navbar.navbar-expand-md{
	/*max-width:960px;*/
	/*position:absolute;*/
	/*min-width:100%;*/
	/*padding:0px;*/
	/*margin:0px;*/
	/*min-height:90px;*/
	/*left:0px!important;*/
}


*---------*




#access li:hover,
#access .current-menu-item,
#access .current_page_item,
#access .current_page_ancestor {
    background: #ed1c24;
    border-radius: 3px 3px 0 0;
}



.interactive-slide.ln-slide{
	cursor: pointer;
}


input#searchsubmit {
	margin-top: -4px;
	margin-right: -10px;

}
form#searchform.searchform{
	margin-right: 13px;
}
input#s {
	padding:0px;
	margin-top: -3px;
}




/* ............................................
   RESPONSIVE
*/



/*
small phone SILVER
- - - - - - -  - - - - - - - -  - - - - - - - -
*/
@media only screen and (max-width : 767px) {

#blog-name a {
	font-size:12px;
	margin-left:-4px;
}

a#logo{
	margin-top: -7px;
}
div#blog-name{
	margin-top: -8px;
	/*display:none;*/
}
/*COLORIZE NAV-BAR*/
#branding div.navbar.navbar-light.bg-light {
	/*background: silver!important;*/

}

	#access div.menu-default-menu-brazil-container {
		margin-left:0px;
	}
	#access div.menu-default-menu-brazil-container {
		margin-left:0px;
	}

	header#branding {
		margin-left:2px;
		/*padding:none;*/
		position:inherit;
		/*float:left;*/
	}
	#logo{
		left:2px!important;
		/*background-color: #e16868;*/
	}
	#blog-name{
		margin-left: -54px !important;
		background-color: #e16868;
	}


	button.navbar-toggler {
		float:right!important;
		display:block;
		margin-left: 85%;
		top: 4px;;
		margin-top: 4px;
	}

	#branding div.navbar.navbar-light.bg-light {
		height: 56px;
		top: -8px;;
		}
#branding  {
	height: 43px !important;
}

div.navbar button.navbar-toggler {
	float:right;
	display:block;
	right: -40px;
	top: 2px !important;
	padding: 4px;
}


}/* - - - - - - -  - - - - - - - -  - - - - - - -
end small phone SILVER   */


/*
small phone GOLD
- - - - - - -  - - - - - - - -  - - - - - - - -
*/
@media only screen and (max-width : 400px) {
	/*COLORIZE NAV-BAR*/
	#branding div.navbar.navbar-light.bg-light {
		/*background: gold!important;*/

	}


div.featured-image {
	margin-top: 0;
	margin-bottom: 0;
	width:100%;
	padding:0px;
	text-align:center;
	/*display:inline-block!important;*/
	margin-right: 4px;
}



div.entry-content {
	padding-right:22px!important;
}
}/* - - - - - - -  - - - - - - - -  - - - - - - -
end small phone GOLD   */




/*
tablet BLUE
- - - - - - -  - - - - - - - -  - - - - - - - -
*/
@media only screen and (min-width : 601px) and (max-width : 768px) {


/*COLORIZE NAV-BAR*/
#branding div.navbar.navbar-light.bg-light {
	/*background: #e9e9ff!important;*/

}



#branding div.navbar.navbar-light.bg-light {
	height: 56px;
	top: -8px;

	}


#branding nav.navbar.navbar-toggleable-md.navbar-light.bg-faded button.navbar-toggler.navbar-toggler-right {
	cursor: pointer;
}




.navbar.navbar-expand-md{
	/*max-width:960px;*/
	/*position:relative;*/
	/*min-height:90px;*/

	/*min-width: auto!important;*/
	/*max-width: auto!important;*/
	/*width:70%!important;*/
	/*max-width:90%!important;*/
	/*min-width:200px!important;*/
	/*width: 75% !important;*/
	/*background:purple!important;*/
	/*max-height: 9px!important;*/
	/*display:box;*/
	/*opacity:0.7*/
}


div.navbar.navbar-expand-md.navbar.fixed-top.navbar-light.bg-light {
	/*width:100%;*/
	/*position:absolute!important;*/
}

#branding div.navbar.navbar-expand-md.navbar.fixed-top.navbar-light.bg-light button.navbar-toggler {
	/*float: none!important;*/
	/*position:in;*/
	/*margin: none!important;*/
	/*margin-left:210px;*/
}
.navbar-toggler{
	position:relative;
	cursor: pointer;
	top: 2px;
}
}/* - - - - - - -  - - - - - - - -  - - - - - - -
end tablet BLUE   */


/*SOCIAL ICONS */
#content div.social-share span {
	margin-top:2px;
}

/*
top nav  - MIN size BLUE
- - - - - - -  - - - - - - - -  - - - - - - - -
*/@media  screen and  (max-width : 769px) {

#branding div.navbar.navbar-light.bg-light{
	border-bottom: 1px solid #f0f0f0;
}
div#content{
	width:100%!;
}
#single-header {
    background: #fff;
    margin: 0 22px 0;
    }

.single-post #content {
    margin-left:22px!important;
    margin-right:0px!important;
    border: none;
}
#main #secondary,
#secondary {
    /*float: left;*/
    /*margin-right: 20px!important;*/
    margin-left: 22px!important;
    /*width: 280px;*/
}

.menu-item {
	border-radius:0px!important;
}
.navbar ul.menu{
/*background:blue;*/
	height:auto!important;

	/*width:100%!important;*/
	/*position:relative!important;*/
	/*z-index:9999!important;*/
	/*position:absolute!important;*/
	/*width:100%;*/
	/*margin-left: -50px !important;*/

/*position:relative!important;*/
/*display:block!important;*/
background: #ffffff;
	height:auto;
	/*z-index:9999!important;*/
	position:absolute!important;
	width:100%;
}

#access ul{
height: auto!important;
padding-bottom:20px;
	border-bottom: 4px solid #ec1c24;
	/*float:left!important;*/
		/*display:block!important;*/
	/*position:relative!important;*/
	/*margin-bottom:200px!important;*/
	-moz-box-shadow: 0 2px 4px #d1d1d1;
	box-shadow: 0 2px 4px #d1d1d1;
}
#access  .menu{
	/*display:none!important;*/
	padding-top: 58px !important;
}
#access li {
    float: none;
	height:auto;
}
form#searchform,
#top-right-links {
	/*z-index:600!important;*/
	float:none!important;
	/*float:left!important;*/
	/*display:block;*/
	/*position:relative!important;*/
	/*margin:0 auto!important;*/
	left:0px!important;
	margin-left: 10px !important;
	margin-top: 32px !important;
}

form#searchform.searchform {
	position:relative;
	float:left;
	left: 0px;
	margin: 0 auto;
	z-index:1600!important;
}

form#searchform.searchform ,
	ul#top-right-links {
		display:block;
		float:left;
		position:relative;
		margin-top: 2px;
		left: 380px;

	}
	form#searchform.searchform{
		/*top: 40px!important;*/
		/*margin-top:0px!important;*/
	}

	#colophon {
	    border-top: 2px solid #666;
	    padding-top: 15px;
	    margin: 0 22px;
	}

}/* - - - - - - -  - - - - - - - -  - - - - - - -
end max-tablet  MIN-SIZE-BLUE */



/*
960 - original size GREEN
- - - - - - -  - - - - - - - -  - - - - - - - -
*/
@media  screen and (min-width : 769px) and (max-width : 960px) {

	/*COLORIZE NAV-BAR*/
	#branding div.navbar.navbar-light.bg-light {
		/*background: #e8f3e9!important;*/

	}

	form#searchform.searchform ,
	ul#top-right-links {
		display:block;
		float:left;
		position:relative;
		/*margin-top: 2px;*/
		left: 550px;

	}


	ul#top-right-links {
		margin-top: -70px;
	}


}/* - - - - - - -  - - - - - - - -  - - - - - - -
end tablet  GREEN */


/*
over-sized RED
- - - - - - -  - - - - - - - -  - - - - - - - -
*/
@media only screen and (min-width : 961px) {
	/*COLORIZE NAV-BAR*/
	#branding div.navbar.navbar-light.bg-light {
		/*background: #edcdcd!important;*/
	}


	#branding div.navbar.navbar-light.bg-light {
		max-width:960px;
		position:relative;
		height: 93px;
	}

}/* - - - - - - -  - - - - - - - -  - - - - - - -
end tablet RED  */


/*SLIDER*/

div#main{

}

div#main.container{
	/*width:100%;*/
	/*max-width:90%!important;*/

}

div#main.container .slideshow.responsive{
  display: none; /* Enabled in JS after load */
  position: relative;
	/*width:90%;*/
	}

     /* slideshow container */
      .slideshow-responsive-box {
          max-width: 960px;
          width:100%;
          /*width:90%;*/
      }
      /* pager */
      .cycle-pager {
          text-align: right;
          z-index: 500;
          position: relative;
          margin:0 auto;
          overflow: hidden;
          right: 10px;
          float:right;
          z-index:500;
          margin-top:-12px;
	  }

	  .pager-cell{
	  	/*height:30px!important;*/
	  	/*background-color:green!important;*/
	  	/*border:none!important;*/

	  }



	  .cycle-pager a > *{
      	/*background-color:green!important;*/
      }
      .cycle-pager a.cycle-pager-active { color: #D69746;}
      .cycle-pager > * { cursor: pointer;}

div#content{
	/*width:auto!important;*/
}

/*RESPONSIVE SLIDESHOW SCALE!*/

div.slideshow.responsive img {
	width:100%;
  max-width: 960px;
}

/* These are taken over by the slideshow JS, but are needed to prevent
   image pop and other annoying things. */
div.slideshow.responsive img {
  position: absolute;
  top: 0;
  left: 0;
}
div.slideshow.responsive img:last-child {
}

/*DETAILS (to match original) */

div.breadcrumb { /*contact*/
	background:none;
	padding:0px;
}
