/* @override
	http://blogs.lexisnexis.com/insurance-insights/br/wp-content/themes/ln-BRAZIL-theme/style-ln.css
	http://localhost:8888/cma/ln/br/wp-content/themes/ln-BRAZIL-theme/style-ln.css */

body {

    background: #eee;
    margin: 0;
    padding: 0;
    font-family: "Arial", Arial, sans-serif;
    font-size: 12px;
    color: #666;
    line-height: 16px;
}

.clear {
    clear: both;
}

.fl{
	float:left;
}
.fr{
	float:right;
}
select{
	width:135px;
	border:1px solid #dfdfdf;
	padding:2px;
}

ul#top-right-links {
	margin: 0;
	padding: 0;
	float: right;
	list-style:none;
	padding-right: 10px;
	position: absolute;
	z-index:10;
	top:5px;
	right:40px;
}
ul#top-right-links > li {
	background: none;
	color: #666;

  margin-left: 10px;
  border-left: #999 1px dotted;
  padding-left: 10px;

	cursor: pointer;
	text-shadow:0 1px 0 rgba(0, 0, 0, .1);
	display: list-item;
	text-align: -webkit-match-parent;
	float:left;
}
ul#top-right-links > li:first-child {
  border-left: none;
  margin-left: 0;
}
ul#top-right-links > li a, ul#top-right-links > li a:visited {
	display: block;
	padding: 3px 0 4px 0;
	color: #666;
	text-decoration: none;
	font: 11px Arial, Helvetica, sans-serif;
}
ul#top-right-links > li a, ul#top-right-links > li a:visited {
	display: block;
	padding: 3px 0 4px 0;
	color: #666;
	text-decoration: none;
	font: 11px Arial, Helvetica, sans-serif;
}
ul#top-right-links > li a:hover{
	text-decoration:underline;
}

#page {
    max-width: 960px;
    margin: 0 auto;
	position:relative;
}

#branding {
    border-top: none;
    border-bottom: 4px solid #ed1c24;
    height: 116px;
    position: relative;
}

#branding #logo {
    top: 17px;
    left: 50px;
    position: absolute;
}

#access {
    position: absolute;
    bottom: 0;
}

.red {
    color: #ed1c24 !important;
}

.bold {
    font-weight: bold !important;
}

.italic {
    font-style: italic !important;
}

.center {
    text-align: center !important;
}

#branding #blog-name {
    position: absolute;
    top: 28px;
    left: 248px;
    height: 19px;
    line-height: 19px;
    background: url(images/logo-sep.gif) left top no-repeat;
    padding-left: 10px;
    color: #ed1c24;
    font-size: 19px;
    font-weight: normal;
}

#branding, #blog-name a, #branding:hover, #blog-name a:hover {
    color: #ED1C24;
    text-decoration: none;

}

#branding #blog-name a:hover {
    text-decoration: none;
}

ul#top-right-links {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
	padding-right: 10px;
	position: absolute;
	z-index: 10;
	top: 5px;
	right: 40px;
}

#branding #searchform {
    position: absolute;
    top: 30px;
    right: 50px;
    border: 1px solid #dddedf;
    padding: 3px;
    width: 192px;
    height: 18px;
    line-height: 18px;
}

#branding #searchform label {
    display: none;
}

#branding #searchform #searchsubmit {
    float: right;
    display: block;
    background: url(images/search-btn.gif) left top no-repeat;
    width: 18px;
    padding-top: 18px;
    overflow: hidden;
    border: none;

    /* height: 0; */

    /* IE7 fix to replace height: 0 as per http://www.productivedreams.com/ie-not-intepreting-text-indent-on-submit-buttons/ */
    text-indent: -999em;
    font-size: 0;
    line-height: 0;

    cursor: pointer;
}

#branding #searchform #s {
    background: none;
    border: none;
    box-shadow: none;
    width: 160px;
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    color: #bcbec0;
    font-size: 12px;
}

#access div {
    margin: 0 0 0 50px;
}

#access div > ul {
    margin: 0;
}

#access div > ul > li {
    height: 25px;
    padding-top: 4px;
    border-right: 1px solid #fff;
}

#access div > ul > li a {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #6d6e71;
    border-right: 1px solid #eee;
    display: block;
    line-height: 21px;
    height: 21px;
    padding: 0 14px;
}

#access div > ul > li:last-of-type a {
    border-right: none;
}

#access li:hover,
#access .current-menu-item,
#access .current_page_item,
#access .current_page_ancestor {
    background: #ed1c24;
    border-radius: 3px 3px 0 0;
}

#access li:hover > a,
#access .current-menu-item > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
    font-weight: normal;
    color: #fff;
    padding-right: 15px;
    border-right: none;
}

#colophon {
    border-top: 2px solid #666;
    padding-top: 15px;
    margin: 0 50px;
    padding-bottom: 50px;
}

#colophon #footer-menu {

}

#colophon #footer-menu ul {
    margin: 0;
}

#colophon #footer-menu li {
    list-style: none;
    display: block;
    float: left;
    padding-right: 30px;
}

#colophon #footer-menu li a {
    color: #666;
}
#colophon #footer-menu li a:hover {
    text-decoration:none;
    color: #ec1c24;
}
#colophon #footer-menu li a:hover span.basic-divider{
	color: #656565;
}

#colophon .copyright {
    color: #bcbec0;
    font-size: 10px;
    padding-top: 7px;
}

#main {
    margin-top: 15px;
    padding: 0;
    /*background: url(images/content-bg.gif) left top repeat-y;*/
    margin-bottom: 30px;
    min-height: 300px;
}

#main #content,
#content {
    /*width: 560px;*/
    margin-left: 19px;
    /*padding-right: 20px;*/
    /*margin-right: 330px;*/
}

.breadcrumb{
	margin-bottom: 15px;
}

.singular.page .hentry {
    padding-top: 0;
}

footer.entry-meta span.edit-link {
    display: none;
}

.entry-title {
    line-height: normal;
}

.page-header .page-title,
.singular .entry-title {
    font-size: 21px;
    color: #6d6e71;
    line-height: normal;
    padding: 0 0 20px;
    margin: 0;
    border-bottom: 1px solid #eee;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
}

.page-header .page-title {
    margin-bottom: 15px;
}

#content .hentry ul li {
    background: url("images/content-li-marker.gif") no-repeat scroll left 7px transparent;
    list-style: none outside none;
    padding: 0 0 10px 9px;
}

#content .hentry ol {
  margin: 0;
  padding: 0 0 0 1em;
}
#content .hentry ol li {
    padding: 0 0 1em 0.5em;
}

#content .hentry h1,
#content .hentry h1 a {
    color: #6d6e71 !important;
}

#content .hentry h2 a {
    color: #009ddb !important;
}

#content .hentry h2 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;;
    color: #6D6E71 !important;
    margin: 25px 0 15px;
    line-height: normal;
    font-weight: normal;
}

#primary {
    /*margin-right: -330px;*/
    border-right: 1px solid #e4e4e4;
}

#main #secondary,
#secondary {
    /*float: left;*/
    margin-right: 50px;
    /*margin-left: 0;*/
    /*width: 280px;*/
}

@-moz-document url-prefix() {
	.home #content {
	}
}

#secondary ul {
    margin-left: 19px;
margin-top: 14px;
}

#secondary ul li {
    background: url(images/widget-li-marker.gif) left 5px no-repeat;
    padding-left: 9px;
    margin-bottom: 14px;
    display: block;
    list-style: none;
}

#main #secondary ul li:last-of-type {
   /* margin-bottom: 0;*/
}

.widget ul li {
    font-size: 12px;
}

#pages-menu li a {
    color: #6d6e71;
}

#pages-menu li a:hover,
#pages-menu li.current-menu-item a {
    color: #ed1c24;
    text-decoration: none;
}

#single-header {
    background: #fff;
    margin: 0 50px 0;
    padding-bottom: 10px;
    color: #6d6e71;
    line-height: normal;
    /* min-height: 90px; */
    font-weight: normal;
    position: relative;
}

#single-header hr {
    position: absolute;
    bottom: 29px;
    border-bottom: 1px solid #eee;
    height: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

/*
#single-header h1.entry-title {
    line-height: 24px;
    width: 480px;
    max-width: 480px;
    font-size: 21px;
    height: auto;
    border: none;
    margin-bottom: 8px;
    padding-bottom: 0;

    margin-left: 80px;
}
*/

#content .author {
    color: #009DDB;
	margin: 0 0 10px 0;
}

#content .author > div {
  display: table-cell;
  vertical-align: middle;
}

#content .author > div.wb {
  /* white-space: nowrap; */
  padding-right: 12px;
}

#content .author img {
	border: 1px solid #EEEEEE;
	padding: 5px 4px;
	margin: 2px 12px 0 0;
}

#content .author a {
    color: #6d6e71 !important;
	text-decoration: underline;
}

#content .author strong {
    color: #6d6e71;
}

#content .featured-image {
  float: right;
}
#content .featured-image img {
  margin: 10px 0 10px 20px;
  border: 1px solid #eee;
  padding: 5px 4px;
}

#single-header .addthis_toolbox {
    position: absolute;
    top: 45px;
    right: 0;
}

#single-header .addthis_toolbox ul {
    margin: 0;
}

#single-header .addthis_toolbox li {
    list-style: none;
    float: left;
    display: block;
    margin-left: 10px;
    min-height: 20px;
    line-height: 15px;
}

#single-header .addthis_toolbox li.email-link,
#single-header .addthis_toolbox li.share-link {
    padding-top: 3px;
}

#single-header .addthis_toolbox li.email-link a span {
    display: block;
    padding-left: 5px;
    line-height: 20px;
}

#single-header .addthis_toolbox li.share-link a span {
    display: block;
    padding-left: 0;
}

#single-header .addthis_toolbox li a {
    color: #666;
    text-decoration: none;
}

.singular .hentry {
    padding-top: 0;
}

.singular .post .entry-content {
    padding-top: 0;
}

#content nav a,
#content .hentry .entry-summary a,
#content .hentry .entry-meta a,
#content .hentry .entry-content a {
    text-decoration: none;
    color: #107AAF;
}

#content .hentry .entry-summary .meta-author a {
    text-decoration: none;
}

#content .hentry .entry-summary .meta-author a:hover {
    text-decoration: underline;
}

.single-post #content .hentry .entry-meta a {
    text-decoration: none;
}

.single-post #content .hentry .entry-meta a:hover {
    text-decoration: underline;
}

#secondary .widget {
    /*width: 260px;*/
    /*margin-left: 19px;*/
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

#secondary .widget:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

#secondary .widget > ul {
    margin: 0;
}

.widget-title {
    text-decoration: none;
    letter-spacing: normal;
    text-transform: none;
}

#secondary .widget-title {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    margin: 0 0 15px;
    padding: 0;
    text-transform: none;
    letter-spacing: normal;
    line-height: normal;
}

#secondary .ui-tabs {
    background: none;
    border: none;
    border-radius: 0;
}

#secondary #featured-blogs-tabs ul {
    margin: 0;
}

#secondary .ui-tabs .ui-tabs-panel {
    padding: 20px 0 0 0;
}

#secondary .ui-tabs .ui-tabs-nav {
    padding: 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ed1c24;
}

#secondary .ui-tabs .ui-tabs-nav  li {
    margin: 0;
    border: none;
    background: none;
    padding-left: 0;
}

#secondary .ui-tabs .ui-tabs-nav  li a {
    color: #6d6e71;
    font-size: 14px;
}

#secondary .ui-tabs .ui-tabs-nav  li.ui-tabs-selected {
    background: #ed1c24;
}

#secondary .ui-tabs .ui-tabs-nav  li.ui-tabs-selected a {
    color: #fff;
}

#secondary #featured-blogs-tabs .snippet {
    margin-bottom: 10px;
}

#secondary #featured-blogs-tabs .snippet:last-of-type {
    margin-bottom: 0;
}

#secondary #featured-blogs-tabs .snippet a {
    color: #6d6e71;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}

#secondary #featured-blogs-tabs .snippet span {
    font-size: 12px;
    color: #bcbec0;
    line-height: 20px;
}

#main .red-link-button {
    background: url(images/button-icon.gif) no-repeat scroll right center transparent;
    color: #ed1c24 !important;
    font-size: 12px;
    font-weight: normal;
    padding-right: 18px;
    cursor: pointer;
    text-decoration: none !important;
}

#main .red-link-button:hover {
    text-decoration: underline !important;
}

#secondary .widget h4 {
    color: #6d6e71;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 5px;
}

#secondary .widget #subscribe input {
    display: block;
    margin: 5px 0 15px;
    box-shadow: none;
    border: 1px solid #dddedf;
    background: #fff;
    width: 188px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0 5px;
}

#connect-with-us p {
    margin-bottom: 10px;
}

#connect-with-us .links {
    margin-bottom: 10px;
}

#connect-with-us .links a {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#connect-with-us .twitter {
    background: url(images/twitter-icon.gif) left top no-repeat;
}

#connect-with-us .rss {
    background: url(images/rss-icon.gif) left top no-repeat;
}

#connect-with-us .email {
    background: url(images/email-icon.png) left top no-repeat;
}

#connect-with-us .linkedin {
    background: url(images/linkedin-icon.gif) left top no-repeat;
}

#connect-with-us .facebook {
    background: url(images/facebook-icon.gif) left top no-repeat;
}

#connect-with-us .googleplus {
    background: url(images/google-icon.png) left top no-repeat;
}

#connect-with-us .youtube {
    background: url(images/youtube-icon.png) left top no-repeat;
}

.single-post #content {
    /*margin-top: -20px;*/
    /* border-right: 1px solid #e5e5e5; */
    margin-left:50px!important;
}
.single-post #secondary {
  padding-top: 5px;
}

.single-post .hentry {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

#respond {
    background: none;
    border: none;
    border-radius: 0;
    width: auto;
    float: none;
    border-right: none;/*1px solid #eee;*/
    padding: 0;
}

#about-the-author h2,
#respond #reply-title {
    font-family: 'Arial', sans-serif;
    color: #009ddb;
    font-size: 21px;
    font-weight: normal;
    line-height: 30px;
}

#respond input[type="text"], #respond textarea {
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
}

#respond .form-submit {
    float: none;
}

#respond input#submit {
    left: 0;
    box-shadow: none;
    border-radius: 0;
    float: none;
    text-align:left;
    margin: 0;
    padding-right:20px!important;
}


#form-author-block {
    margin-top: 40px;
}

#about-the-author {
    float: right;
    width: 250px;
}

#about-the-author h2 {
    margin-bottom: 13px;
}

#about-the-author img {
    position: absolute;
    padding: 5px 4px;
    border: 1px solid #eee;
}

#about-the-author strong {
    font-size: 14px;
}

#about-the-author strong,
#about-the-author p,
#about-the-author a {
    padding-left: 120px;
}

/* Eliminate top padding so the image rotator snugs up against the menu. */
.home #main, .page-template-page-region-home #main {
    margin-top: 0;
}

#slider {
    height: 250px;
    background: #fff;
    margin-bottom: 30px;
}

#slider-wrapper {
    height: 280px;
    position: relative;
    background: #fff;
    overflow: hidden;
}

#slider-wrapper .slide {
    height: 250px;
    position: relative;
    display: none;
}

#slider-wrapper .slide .insight_bar {
    display: block;
    position: absolute;
    left: 50px;
    top: 63px;
    width: 375px;
    max-height: 130px;
    background: #ed1c24;
    padding:10px 20px;
    overflow: hidden;
    color: #fff;
    text-decoration: none !important;
}

#slider-wrapper .slide .insight_bar h3 {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 22px;
}

#slider-wrapper .slide .insight_bar .text {
    color: #fff;
    font-size: 13px;
    line-height: 18px;
}

#slider-wrapper .slide a {
	float:right;
	padding-top:5px;
}

#slider-wrapper .slide a span.red-link-button {
    color: #fff !important;
    background: url(images/slider-link-arrow.gif) no-repeat scroll right center transparent;
    font-size: 13px;
}

#slider-wrapper #slider-pager {
    position: absolute;
    bottom: 33px;
    right: 8px;
    z-index: 0!important;
}
.cycle-pager{
	z-index: 0!important;
}
#slider-pager a {
    float: left;
    display: block;
    background: url(images/slider-marker.gif) left top no-repeat;
    width: 22px;
    height: 0;
    margin-left: 9px;
    overflow: hidden;
    padding-top: 9px;
}

#slider-pager a.cycle-pager-active {
    background: url(images/slider-marker-active.gif) left top no-repeat;
}

.entry-header .comments-link a {
    text-decoration: none !important;
}

#main .entry-header .entry-meta {
    position: static;
}

#main #content .post-excerpt h2,
.page-template-page-blog-php #content .hentry h2 {
    height: auto;
    display: block;
    padding-bottom: 10px;
    border-bottom: none;
    margin: 0;
    padding-top: 0;
}

.page-template-page-blog-php #content .hentry h2 {
    max-width: 480px;
}

.page-template-page-blog-php #content .hentry {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #d9d9d9;
}

.page-template-page-blog-php #content .hentry:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.page-template-page-blog-php #content .hentry h2 a {
    text-decoration: none;
    font-size: 18px;
}

#main #content .post-excerpt div.read-more,
.page-template-page-blog-php #content div.read-more {
    margin: 15px 0;
}

#home-top-row {
    /*background: url(images/pixel-eee.gif) 280px 0 repeat-y;
    height: 225px;
    max-height: 225px;*/
    /* overflow: hidden; */
    width: 590px;
    min-width:560px;
	/*height:265px;*/
}

#home-top-row #home-latest-blog-posts,
#home-top-row #home-latest-news {
    width: 295px;
    float: left;
    position: relative;
    /*height: 205px;
    max-height: 205px;*/
    padding-bottom: 5px;
}
#home-top-row #home-latest-news {
	width:245px;
	margin-left:28px;
}
#home-top-row #home-latest-blog-posts{
	height:285px;
	border-right: 1px solid #EEE;
	padding-right: 10px;
}

#home-top-row #home-latest-blog-posts > .content,
#home-top-row #home-latest-news > .content {
    /*height: 205px;
    max-height: 205px;*/
    overflow: hidden;
    margin-bottom: 0;
}

#home-top-row #home-latest-news {
    float: left;
}

#home-top-row #home-latest-news .date,
#home-top-row #home-latest-news .location {
    color: #939598 !important;
}

.attend {
	color: #333 !important;
	font-weight: bold;
}

#industry-news h2,
#featured-videos h2,
#home-top-row h2.title {
    color: #009ddb;
    font-size: 18px;
    line-height: normal;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    font-weight: normal;
}

.hentry .entry-meta .date,
#home-latest-blog-posts .snippet .date,
.datebox {
    display: block;
    width: 79px;
    height: 72px;
    position: absolute;
    margin-top: 2px;
    left: -5px;
}




.hentry .entry-meta .date {
    margin-top: 5px;
}

.hentry .entry-meta .day,
#home-latest-blog-posts .snippet .day,
.datebox .day {
    background: url(images/dates-map.gif) left top no-repeat;
}

.hentry .entry-meta .day-01,
#home-latest-blog-posts .snippet .day-01,
.datebox .day-01 {
    background-position: -98px -20px;
}

.hentry .entry-meta .day-02,
#home-latest-blog-posts .snippet .day-02,
.datebox .day-02 {
    background-position: -98px -62px;
}

.hentry .entry-meta .day-03,
#home-latest-blog-posts .snippet .day-03,
.datebox .day-03 {
    background-position: -98px -104px;
}

.hentry .entry-meta .day-04,
#home-latest-blog-posts .snippet .day-04,
.datebox .day-04 {
    background-position: -98px -146px;
}

.hentry .entry-meta .day-05,
#home-latest-blog-posts .snippet .day-05,
.datebox .day-05 {
    background-position: -98px -188px;
}

.hentry .entry-meta .day-06,
#home-latest-blog-posts .snippet .day-06,
.datebox .day-06 {
    background-position: -98px -230px;
}

.hentry .entry-meta .day-07,
#home-latest-blog-posts .snippet .day-07,
.datebox .day-07 {
    background-position: -98px -271px;
}

.hentry .entry-meta .day-08,
#home-latest-blog-posts .snippet .day-08,
.datebox .day-08 {
    background-position: -98px -314px;
}

.hentry .entry-meta .day-09,
#home-latest-blog-posts .snippet .day-09,
.datebox .day-09 {
    background-position: -98px -356px;
}

.hentry .entry-meta .day-10,
#home-latest-blog-posts .snippet .day-10,
.datebox .day-10 {
    background-position: -98px -398px;
}

.hentry .entry-meta .day-11,
#home-latest-blog-posts .snippet .day-11,
.datebox .day-11 {
    background-position: -98px -440px;
}

.hentry .entry-meta .day-12,
#home-latest-blog-posts .snippet .day-12,
.datebox .day-12 {
    background-position: -98px -482px;
}

.hentry .entry-meta .day-13,
#home-latest-blog-posts .snippet .day-13,
.datebox .day-13 {
    background-position: -98px -524px;
}

.hentry .entry-meta .day-14,
#home-latest-blog-posts .snippet .day-14,
.datebox .day-14 {
    background-position: -98px -566px;
}

.hentry .entry-meta .day-15,
#home-latest-blog-posts .snippet .day-15,
.datebox .day-15 {
    background-position: -98px -608px;
}

.hentry .entry-meta .day-16,
#home-latest-blog-posts .snippet .day-16,
.datebox .day-16 {
    background-position: -98px -650px;
}

.hentry .entry-meta .day-17,
#home-latest-blog-posts .snippet .day-17,
.datebox .day-17 {
    background-position: -156px -20px;
}

.hentry .entry-meta .day-18,
#home-latest-blog-posts .snippet .day-18,
.datebox .day-18 {
    background-position: -156px -62px;
}

.hentry .entry-meta .day-19,
#home-latest-blog-posts .snippet .day-19,
.datebox .day-19 {
    background-position: -156px -104px;
}

.hentry .entry-meta .day-20,
#home-latest-blog-posts .snippet .day-20,
.datebox .day-20 {
    background-position: -156px -146px;
}

.hentry .entry-meta .day-21,
#home-latest-blog-posts .snippet .day-21,
.datebox .day-21 {
    background-position: -156px -188px;
}

.hentry .entry-meta .day-22,
#home-latest-blog-posts .snippet .day-22,
.datebox .day-22 {
    background-position: -156px -230px;
}

.hentry .entry-meta .day-23,
#home-latest-blog-posts .snippet .day-23,
.datebox .day-23 {
    background-position: -156px -271px;
}

.hentry .entry-meta .day-24,
#home-latest-blog-posts .snippet .day-24,
.datebox .day-24 {
    background-position: -156px -314px;
}

.hentry .entry-meta .day-25,
#home-latest-blog-posts .snippet .day-25,
.datebox .day-25 {
    background-position: -156px -356px;
}

.hentry .entry-meta .day-26,
#home-latest-blog-posts .snippet .day-26,
.datebox .day-26 {
    background-position: -156px -398px;
}

.hentry .entry-meta .day-27,
#home-latest-blog-posts .snippet .day-27,
.datebox .day-27 {
    background-position: -156px -440px;
}

.hentry .entry-meta .day-28,
#home-latest-blog-posts .snippet .day-28,
.datebox .day-28 {
    background-position: -156px -482px;
}

.hentry .entry-meta .day-29,
#home-latest-blog-posts .snippet .day-29,
.datebox .day-29 {
    background-position: -156px -524px;
}

.hentry .entry-meta .day-30,
#home-latest-blog-posts .snippet .day-30,
.datebox .day-30 {
    background-position: -156px -566px;
}

.hentry .entry-meta .day-31,
#home-latest-blog-posts .snippet .day-31,
.datebox .day-31 {
    background-position: -156px -608px;
}

.hentry .entry-meta .month,
#home-latest-blog-posts .snippet .month,
.datebox .month {
    display: block;
    width: 58px;
    height: 30px;
    position: absolute;
    font-size: 22px;
    color: #666;
    left: 0;
    top: 0;
    text-transform: uppercase;
    background: url(images/dates-map.gif) left top no-repeat;
}

.hentry .entry-meta .month-jan,
#home-latest-blog-posts .snippet .month-jan,
.datebox .month-jan {
    background-position: -20px -20px;
}

.hentry .entry-meta .month-feb,
#home-latest-blog-posts .snippet .month-feb,
.datebox .month-feb {
    background-position: -20px -50px;
}

.hentry .entry-meta .month-mar,
#home-latest-blog-posts .snippet .month-mar,
.datebox .month-mar {
    background-position: -20px -80px;
}

.hentry .entry-meta .month-apr,
#home-latest-blog-posts .snippet .month-apr,
.datebox .month-apr {
    background-position: -20px -110px;
}

.hentry .entry-meta .month-may,
#home-latest-blog-posts .snippet .month-may,
.datebox .month-may {
    background-position: -20px -140px;
}

.hentry .entry-meta .month-jun,
#home-latest-blog-posts .snippet .month-jun,
.datebox .month-jun {
    background-position: -20px -170px;
}

.hentry .entry-meta .month-jul,
#home-latest-blog-posts .snippet .month-jul,
.datebox .month-jul {
    background-position: -20px -200px;
}

.hentry .entry-meta .month-aug,
#home-latest-blog-posts .snippet .month-aug,
.datebox .month-aug {
    background-position: -20px -230px;
}

.hentry .entry-meta .month-sep,
#home-latest-blog-posts .snippet .month-sep,
.datebox .month-sep {
    background-position: -20px -260px;
}

.hentry .entry-meta .month-oct,
#home-latest-blog-posts .snippet .month-oct,
.datebox .month-oct {
    background-position: -20px -290px;
}

.hentry .entry-meta .month-nov,
#home-latest-blog-posts .snippet .month-nov,
.datebox .month-nov {
    background-position: -20px -320px;
}

.hentry .entry-meta .month-dec,
#home-latest-blog-posts .snippet .month-dec,
.datebox .month-dec {
    background-position: -20px -350px;
}


.hentry .entry-meta .day,
#home-latest-blog-posts .snippet .day,
.datebox .day {
    display: block;
    position: absolute;
    font-size: 46px;
    width: 58px;
    height: 42px;
    color: #666;
    left: 0;
    top: 30px;
}

/**
Place DAY befor Month
**/



.datebox .month {
    margin-top: 43px;
}
.datebox .day {
    margin-top: -30px;
}

div .datebox{
}

.hentry .entry-meta .year,
#home-latest-blog-posts .snippet .year,
.datebox .year {
    /*-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation = 3);*/
    position: absolute;
    font-size: 12px;
    color: #747578;
    right: 0;
    top: 0;
    width: 21px;
    height: 50px;
    background: url(images/dates-map.gif) left top no-repeat;
}

.hentry .entry-meta .year-2009,
#home-latest-blog-posts .snippet .year-2009,
.datebox .year-2009 {
    background-position: -219px -20px;
}

.hentry .entry-meta .year-2010,
#home-latest-blog-posts .snippet .year-2010,
.datebox .year-2010 {
    background-position: -219px -70px;
}

.hentry .entry-meta .year-2011,
#home-latest-blog-posts .snippet .year-2011,
.datebox .year-2011 {
    background-position: -219px -120px;
}

.hentry .entry-meta .year-2012,
#home-latest-blog-posts .snippet .year-2012,
.datebox .year-2012 {
    background-position: -219px -170px;
}

.hentry .entry-meta .year-2013,
#home-latest-blog-posts .snippet .year-2013,
.datebox .year-2013 {
    background-position: -219px -220px;
}

.hentry .entry-meta .year-2014,
#home-latest-blog-posts .snippet .year-2014,
.datebox .year-2014 {
    background-position: -219px -270px;
}

.hentry .entry-meta .year-2015,
#home-latest-blog-posts .snippet .year-2015,
.datebox .year-2015 {
    background-position: -219px -320px;
}

.hentry .entry-meta .year-2016,
#home-latest-blog-posts .snippet .year-2016,
.datebox .year-2016 {
    background-position: -219px -370px;
}

.hentry .entry-meta .year-2017,
#home-latest-blog-posts .snippet .year-2017,
.datebox .year-2017 {
    background-position: -219px -420px;
}

#home-latest-blog-posts .snippet .content {
    padding-left: 88px;
    /*background: url("images/widget-li-marker.gif") no-repeat scroll 80px 5px transparent;*/
    clear: both;
    list-style: none outside none;
    margin-bottom: 13px;
}

#home-latest-blog-posts .snippet .content .title {
    font-size: 14px;
    color: #6d6e71;
    margin-bottom: 4px;
    /*max-height: 2.5em;*/
    overflow: hidden;
}

#home-latest-blog-posts .snippet .content .title a {
    font-size: 14px;
    color: #606060;/*#6d6e71;*/
}

#home-latest-blog-posts .snippet .content .excerpt {
    color: #939598 !important;
}

#home-latest-blog-posts .snippet .excerpt p {
    margin-bottom: 6px;
}

#home-latest-blog-posts .snippet .read-more {
    margin-top: 4px;
}

#home-latest-blog-posts .snippet {
    margin-bottom: 5px;
    min-height: 95px;
}

#home-latest-blog-posts .snippet:last-of-type {
    margin-bottom: 0;
}

#home-latest-news .read-more-news,
#home-latest-blog-posts .read-more-blog-posts {
    /*border-top: 1px dotted #eee;
    padding-top: 15px;*/
    position: absolute;
    bottom: 0;
    width: 260px;
    height: 20px; /*30px;*/
}

.home #page a.red-link-button:hover,
#home-latest-news .read-more-news a.red-link-button:hover,
#home-latest-blog-posts .read-more-blog-posts a.red-link-button:hover {
    text-decoration: underline !important;
}

#home-latest-news .read-more-news a,
#home-latest-blog-posts .read-more-blog-posts a {
    font-size: 12px;
}

#home-latest-news ul {
    margin: 0;
}

#home-latest-news ul li.first-with-thumb {
    padding-left: 0;
    background: none;
}

#home-latest-news ul li.first-with-thumb img {
    padding: 4px 5px;
    border: 1px solid #eee;
    float: left;
    margin: 0 10px 15px 0;
}

#home-latest-news ul li {
    list-style: none;
    background: url(images/widget-li-marker.gif) left 5px no-repeat;
    padding-left: 10px;
    margin-bottom: 13px;
    clear: both;
}

#home-latest-blog-posts a,
#home-latest-news ul li a {
    font-size: 12px;
    color: #606060;
}

#featured-videos {
	position:relative;
}

#industry-news,
#featured-videos {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    padding-bottom: 20px;
}

#featured-videos {
    padding-bottom: 0;
}

#industry-news h2,
#featured-videos h2 {
    margin-bottom: 20px;
}

#featured-videos a#fv_view_all{
	position:absolute;
	left:302px;
	top:233px;
}

#featured-videos .video-thumbs {
    width: 260px;
    float: right;
}

#featured-videos .video {
    width: 260px;
    float: left;
    /*    margin-left: 275px;*/
}

#featured-videos .first-video {
    width: 260px;
    position: relative;
    float: left;
    margin-left: 0;
}

#featured-videos .first-video iframe,
#featured-videos .first-video img.wp-post-image {
    width: 260px !important;
    height: 160px !important;
    max-width: 260px !important;
    max-height: 160px !important;
    padding: 0;
    margin-bottom: 7px;
}

#featured-videos .first-video a {
    font-size: 12px;
}

#featured-videos .video a {
    display: block;
    color: #6d6e71;
    margin-bottom: 1px;
}

#featured-videos .video .description {
    color: #bcbec0;
	margin:5px 0 0 0;
}
#featured-videos .video .description a {
	color: #ed1c24 !important;
    font-size: 12px;
    font-weight: normal;
    padding-right: 18px;
    cursor: pointer;
    text-decoration: none !important;
}

#featured-videos .video img {
    max-width: 106px;
    width: 106px;
    height: 64px;
    max-height: 64px;
    padding: 4px;
    border: 1px solid #eee;
    margin: 0 10px 10px 0;
    float: left;
}

#industry-news ul {
    margin: 0;
}

#industry-news ul li {
    list-style: none;
    padding-left: 10px;
    background: url(images/widget-li-marker.gif) left 5px no-repeat;
    margin-bottom: 7px;
}

#industry-news ul li a {
    color: #6d6e71;
}

/*.page-template-page-blog-php */
#content > .page > .entry-header h1 {
    font-family: 'Arial', sans-serif;
    color: #009DDB;
}

.entry-content, .entry-summary {
    padding-top: 20px;

}

.widget a {
    font-weight: normal;
    font-family: Arial, Arial, sans-serif;
}

.page-template-page-news-events-php #main {
    background: none;
}

.page-template-page-news-events-php #content {
    width: 860px !important;
    padding-right: 0;
}

.page-template-page-news-events-php .entry-content {
    background: url(images/3-columns-bg.gif) left top repeat-y;
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 30px;
}

.page-template-page-news-events-php #news-events-block a {
    text-decoration: none !important;
    color: #6d6e71 !important;
}

.page-template-page-news-events-php #news-events-block .date,
.page-template-page-news-events-php #news-events-block .location {
    color: #6d6e71 !important;
}

.page-template-page-news-events-php #news-events-block a:hover {
    color: #6d6e71 !important;
    text-decoration: underline !important;
}

.page-template-page-news-events-php #news-events-block h2 {
    margin-top: 0;
}

.page-template-page-news-events-php #news-events-block ul {
    margin: 0;
}

.page-template-page-news-events-php #news-events-block ul li.first-with-thumb {
    background: none;
    padding-left: 0;
}

.page-template-page-news-events-php #news-events-block ul li.first-with-thumb img {
    border: 1px solid #EEEEEE;
    float: left;
    margin: 0 10px 15px 0;
    padding: 4px 5px;
}

.page-template-page-news-events-php #news-events-block ul li {
    list-style: none;
    clear: both;
    padding-left: 10px;
    background: url(images/widget-li-marker.gif) left 4px no-repeat;
}

#news-events-block #press-block,
#news-events-block #events-block,
#news-events-block #latest-news {
    width: 260px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

#news-events-block #press-block {

}

#news-events-block #latest-news {
    padding-left: 0;
}

#news-events-block #events-block {
    padding-right: 0;
}

.page-template-page-our-customers-php #main .entry-content {
    padding-top: 0;
}

.page-template-page-our-customers-php #brokers h2.widget-title,
.page-template-page-our-customers-php #carriers h2.widget-title {
    margin-bottom: 30px;
}

.blogger,
.customer {
    border-bottom: 1px dotted #d9d9d9;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    position: relative;
    min-height: 80px;
}

.blogger {
    min-height: 0;
}

.blogger .name {
    display: block;
    margin-bottom: 7px;
}

.blogger img.photo {
    float: left;
    margin: 0 10px 10px 0;
}

.blogger > .name,
.blogger > .description,
.blogger > .read-more {
    display: block;
    margin-left: 110px;
}

.blogger > .description {
    margin-bottom: 0;
}

.blogger > .read-more {
    margin-top: 15px;
    text-decoration: none !important;
}

.blogger > .read-more:hover {
    text-decoration: underline !important;
}

.blogger:last-of-type,
.customer:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.customer img.wp-post-image {
    max-width: 130px;
    height: auto;
    float: left;
    position: absolute;
    top: 2px;
}

.customer img.right-image {
    max-width: 96px;
    height: auto;
    padding: 5px;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px 20px;
    float: right;
}

.customer div.title {
    padding-left: 185px;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    color: #6d6e71;
    margin-bottom: 5px;
}

.customer div.source {
    padding-left: 185px;
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
}

.customer div.links {
    padding-left: 185px;
}

#main #content .customer div.links a:first-of-type {
    padding-left: 0;
}

#main #content .customer div.links a:last-of-type {
    padding-right: 0;
    border-right: none;
}

#main #content .customer div.links a {
    color: #ed1c24;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid #e5e5e5;
    line-height: 19px;
}

#main #content .customer div.links a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 15px;
}

/* Prevent items from 'breaking out' on right side of container in FF when browser window is extremely narrow */
.post-excerpt .entry-header,
.post-excerpt .entry-summary,
.post-excerpt .entry-meta {
    padding-left: 80px;
    max-width: 480px;
}

/* Selectively hide datebox and don't indent content if displaying a page in a search result: */
body.search .type-page .entry-meta .date {
    display: none;
}

/*
body.search .post-excerpt.type-page .entry-header,
body.search .post-excerpt.type-page .entry-summary,
body.search .post-excerpt.type-page .entry-meta {
    max-width: 560px;
    padding-left: 0px;
}
*/

.post .entry-meta, .post-excerpt .entry-meta {
    color: #666;
    font-size: 10px;
}

#main #content .post-excerpt .entry-meta a {
    text-decoration: none;
    font-weight: normal;
}

#main #content .post-excerpt .entry-meta a:hover {
    text-decoration: underline;
}

#main #content .post-excerpt .sep {
    padding: 0 7px;
}

.widget-area {
    font-size: 12px;
}

.pagebar {
    margin: 50px 0 20px;
}

#main #content .pagebar a, #main #content .pagebar span {
    background: none repeat scroll 0 0 #E4E4E4;
    display: block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 8px;
    color: #ed1c24;
    text-decoration: none !important;
}

#main #content .pagebar a:hover, #main #content  .pagebar span.this-page {
    color: #333333;
    text-decoration: none;
}

#content ul ul {
    margin-top: 15px;
}


#content .contact-form {
    width: 100% !important;
    border: medium none;
}

#content .contact-form td {
    border: medium none;
    padding: 5px 0;
	margin: 0;
}

#content .contact-form td.field-cell span {
    color: #ED1C24 !important;
}

#content .contact-form td.label-td {
    max-width: 110px;
    width: 110px;
}

#content .contact-form span.form_text, #content .contact-form input.form_text, #content .contact-form textarea {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 5px;
    width: 300px !important;
}

span.form_text{
	padding:0px!important;
}

#content .contact-form select.form_text {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding-top: 5px;
    width: 310px !important;
}

#content .contact-form table {
    width: 100% !important;
    border: medium none;
}
#content .contact-form table{
	/*max-width:90%;*/
}
#content .contact-form table td:first-child {
    /*background:gold;*/
    max-width:50px!important;
    margin-right:0px;
	margin: 0;
}

#content .contact-form table td:nth-child(2) {
    border: medium none;
    padding: 5px 0;
    overflow:hidden;
    max-width:200px;
    margin-right:20px;
	margin: 0;
}
#content .contact-form table td span{
	/*display:block;*/
	/*position:absolute;*/
	/*max-width:40px;*/
}
#content .contact-form table td.field-cell span {
    color: #ED1C24 !important;
}




@media screen and (max-width:450px) {
input  {
	/*background:green!important;*/
	max-width:260px!important;


	/*display:none;*/
}

#content .contact-form table {
    /*width: 90% !important;*/

}
#content .contact-form table{
	/*max-width:90%;*/
}
#content .contact-form table td:first-child {
    /*max-width:60px!important;*/
    /*margin-right:10px;*/
	/*margin: 0;*/
}

#content .contact-form table td:nth-child(2) {

    /*max-width:100px;*/
    margin-right:2px!important;

}
#content .contact-form table td span{
	/*display:block;*/
	/*position:absolute;*/
	/*max-width:40px;*/
}
#content .contact-form table td.field-cell span {

}


}

#content .contact-form table td.label-td {
    max-width: 110px;
    width: 110px;
}

#content .contact-form span.form_text, #content .contact-form table input.form_text, #content .contact-form table textarea {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 5px;
    /*width: 300px !important;*/
}

#content .contact-form table select.form_text {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding-top: 5px;
    width: 310px !important;
}

#content .contact-form span.form_text {
    background: none repeat scroll 0 0 transparent;
    font-size: 12px;
    font-weight: normal;
    width: auto !important;
}

#content .contact-form input#submit {
    background: url(images/submit-btn.gif) no-repeat scroll left center transparent;
    height: 0;
    width: 125px;
    padding-top: 25px;
    /*
      color: #ed1c24 !important;
      font-size: 14px;
      font-weight: normal;
    */
    padding-right: 18px;
    text-decoration: none !important;
    cursor: pointer;
    border: medium none;
    cursor: pointer;
}



#ie7 #content .contact-form input#submit {
    /*height: 25px;*/
}

#brokers-carriers {
    margin: 0 50px;
    background: #fff url(images/gray-pixel.gif) center top repeat-y;
}

.brokers-carriers-top-padding-29 {
    margin: 0 50px;
    padding-top: 29px;
    padding-bottom: 29px;
    height: 0;
    background: #fff url(images/gray-pixel.gif) left center repeat-x;
}

#brokers-carriers #brokers {
    float: left;
    width: 380px;
}

#brokers-carriers #carriers {
    float: right;
    width: 380px;
}

#brokers-carriers #brokers h2.widget-title,
#brokers-carriers #carriers h2.widget-title {
    font-size: 18px;
    color: #009ddb;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 20px;
}

.blue {
    color: #009ddb !important;
}

#brokers-carriers .links {
    margin-top: 10px;
}

#brokers-carriers .links a {
    color: #ed1c24;
    padding-right: 10px;
    padding-left: 10px;
}

#brokers-carriers .links a:first-of-type {
    border-right: 1px solid #e5e5e5;
    padding-left: 0;
}

#brokers-carriers .links a.single {
    border: none !important;
    padding-left: 0;
}

#brokers-carriers .customer img.wp-post-image {
    float: none;
    margin-bottom: 10px;
    position: static;
    max-width: none;
}

#brokers-carriers .customer {
    padding-right: 0;
    border-bottom: none;
    padding-bottom: 30px;
    margin-bottom: 0;
}

#brokers-carriers .customer div.title,
#brokers-carriers .customer .links,
#brokers-carriers .customer .source {
    padding-left: 0;
}

#brokers-carriers .customer .source {
    font-size: 12px;
}

#main table.posts-table {
    border: none;
    margin-bottom: 0;
}

.posts-table td {
	padding: 10px 10px 16px 10px;
	vertical-align: top;
	border: none;
	margin-bottom: 10px;
	background: white url(images/posts-table-bottom-bg.png) bottom left repeat-x;
	color: #939598;
	font-size: 12px;
}

.posts-table td.topRow {
	padding: 10px 10px 8px 10px;
    background:none;
}
.posts-table td.bottomRow {
	padding:0 10px 10px 10px;
}

.posts-table .odd td {
    background-color: #f8f8f8;
}

.posts-table thead th {
    background: url(images/table-head-bg.png) left top repeat-x;
    height: 28px;
    border-top: 1px solid #cfcccc;
    border-bottom: 1px solid #cfcccc;
    border-left: 1px solid #cfcccc;
    padding: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    color: #555;
    line-height: 28px;
    text-transform: none;
    letter-spacing: normal;
    text-indent: 5px;
}

#main .posts-table thead th a {
    display: inline-block;
    color: #555 !important;
    text-decoration: none !important;
    padding-right: 21px;
}

#main .posts-table thead th a.sort-up {
    background: url(images/sort-up.png) right center no-repeat;
}

#main .posts-table thead th a.sort-down {
    background: url(images/sort-down.png) right center no-repeat;
}

.posts-table thead th:last-of-type {
    border-right: 1px solid #cfcccc;
}

#main .posts-table td.title a {
    color: #107AAF;
    font-size: 16px;
    text-decoration: none;
}

#main .posts-table td.date {
    width: 60px;
}

#main .posts-table td.category {
    width: 85px;
}

#main .posts-table td.state-national {
    width: 110px;
}

.page-template-page-posts-list-php  #main .pagebar {
    margin-top: 20px;
}

.hot-topics-item {
    margin-bottom: 10px;
}

.hot-topics-item .category-state {
    font-size: 12px;
    color: #bcbec0;
    line-height: 14px;
    margin-top: 3px;
}

.hot-topics-item a {
    font-size: 12px;
    color: #6d6e71;
    text-decoration: none;
    line-height: 14px;
}

.hot-topics-item span {
    font-size: 12px;
    color: #bcbec0;
    line-height: 16px;
}

#commentform p.comment-form-url {
	display: none;
}
#content .hentry ul li.no-list-style{
	background:none;
}
#df_wrapper ul{
	list-style-image:none;
	margin:0;
	padding:0;
}
#content .hentry #df_wrapper ul li{
	background:none;
	margin-left:0;
	padding-left:0;
	padding-bottom: 0;
}
#df_wrapper ul li .thumb{
	border: 1px solid #ddd;
	width:100px;
	height:100px;
	margin:0 10px 21px 0;
	padding: 6px;
}


#tt_title_sm{
	display:none;
}
#access ul li:hover ul.sub-menu,
#access ul ul.sub-menu {
display:none;
}



.home-item {
	width: 272px;
	margin-bottom: 15px;
	float: left;
	padding-left: 8px;
}
.home-item:nth-child(2n+1) {
	float: right;
}
.home-item > .title {
	background:#333;
	color:#fff;
	margin:0 0 7px 0;
	padding: 9px 5px;
	font-size:14px;
}
.home-item > .title a {
	color:#fff;
	width:100%;
	display:block;
}
.home-item > .thumb img {
  display: block;
  margin: 0 auto 7px auto;
  object-fit: cover;
  width: 100%;
}
.home-item > .thumb a {
	width:100%;
	display:block;
}

.page-header .page-title.category,
.single #respond #reply-title,
.single .entry-title{
	background: #333;
	color: #FFFFFF;
	padding: 4px 10px;
	font-size:20px;
	line-height:24px;
}
.post-excerpt .entry-meta.thumb{
  /*
	height:130px;
	width:235px;
	background:#ccc;
  */
	padding-left:0;
	display:block;
	position:absolute;
	top:0;
	left:0;
}

img.attachment-post-thumbnail-smaller.size-post-thumbnail-smaller.wp-post-image {
	display:inline!important;
	position:relative!important;
	float:none!important;

}


.post-excerpt .entry-header,
.post-excerpt .entry-summary,
.post-excerpt footer.entry-meta {
	padding-left: 255px;
	min-width:100%;
}

@media screen and (max-width:500px) {

	.post-excerpt .entry-header,
	.post-excerpt .entry-summary,
	.post-excerpt footer.entry-meta {
		padding-left: 22px;
		min-width:100%;
		margin-top:10px;

	}
	.post-excerpt .entry-meta.thumb{

		margin-left:22px;
		display:block;
		position:relative;
		top:0;
		left:0;
	}


	.post-excerpt img {
		display:inline-block!important;
		display:block!important;
		/*float:none!important;*/
		/*padding-left: 55px;*/
		/*min-width:100%;*/
		/*margin-top:40px;*/

	}
}


/* Pulled from SCSS on www.lexisnexis.com/risk */

/* line 250, ../scss/_header.scss */
.lex-lang-nav {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20; }
  /* line 256, ../scss/_header.scss */
  .lex-lang-nav.inactive {
    display: none; }

/* line 260, ../scss/_header.scss */
.standard-lang {
  display: inline-block;
  position: relative;
  height: 13px;
  width:200px; /* !!! Modified from 232px on LN corporate /risk */
}

/* line 266, ../scss/_header.scss */
.lex-lang-nav-heading {
  font-size: 12px;
  border: 0px;
  outline: none;
  background: none;
  border-radius: 0px;
  padding-right: 0px;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 250px;
  text-align: right;
  font-size: 10px;
  color: #AAA; }
  /* line 281, ../scss/_header.scss */
  .lex-lang-nav-heading .lang-current {
    font-size: 10px;
    color: #AAA;
    margin-right: 3px;
  }
  /* line 286, ../scss/_header.scss */
  .lex-lang-nav-heading .lang-flag {
    top:2px;
	top:0\9; }
/*  @media only screen and (max-width: 943px) {
    /* line 266, ../scss/_header.scss *!/
    .lex-lang-nav-heading {
      /*display: none; *!/

      } }*/

/* line 293, ../scss/_header.scss */
.lang-flag {
  position: absolute;
  right: 13px;
  top:9px;
  top:6px\9; }

/*  @media only screen and (max-width: 943px) {
    .lang-flag {
      top:4px} }*/


  /* line 297, ../scss/_header.scss */
  .lang-flag img {
/*    height: 10px; */
    display: inline; }

/* line 303, ../scss/_header.scss */
.lang-arrow-right, .lang-arrow-down {
  background-repeat: no-repeat;
  background-position: center center;
  height: 10px;
  width: 10px;
  vertical-align: top;
  margin-top: 2px;
  margin-top: 0\9 !important; }

/* line 312, ../scss/_header.scss */
.lang-arrow-right {
  float: left;
  background-repeat: no-repeat;
  background-position: left;
  margin-right: 0px; }
  /* line 320, ../scss/_header.scss */
  .lang-arrow-right img {
    width: 10px;
    height: 10px; }

  /*@media only screen and (max-width: 943px) {
    /* line 312, ../scss/_header.scss *!/
    .lang-arrow-right {
      display: none; } }*/



/* line 328, ../scss/_header.scss */
.lang-arrow-down {
  display: inline-block;
  background-size: contain;
  width: 8px;
  margin-left: 2px; }
  /* line 334, ../scss/_header.scss */
  .lang-arrow-down img {
    width: 8px;
    height: 10px; }

/* line 339, ../scss/_header.scss */
.lang-list {
  display: none;
  /* background-color: #302f35; */
  background-color:#eaeaea;
  list-style-image: none;
  list-style-type: none;
  /* padding-left: 0px; */
  padding:8px;
  margin: 0px;
  top:17px;
  right: 0px;
  position: absolute;
  width: 250px; }
  /* line 350, ../scss/_header.scss */
  .lang-list.active {
    display: block !important; }
  /* line 353, ../scss/_header.scss */
.lang-list .lang-item {
    /* background-color: #6d6e71;
    padding: 5px 41px 5px 10px !important; */
  background-color:#ffffff;
  border:1px solid #eaeaea;
  font-size:12px;
  line-height:14px;
  padding:8px 10px 8px 10px !important;
    text-align: right;
    position: relative; }
 /* @media only screen and (max-width: 943px) {
    .lang-list .lang-item {
      background-color:transparent;
      border:none; } }*/
.lang-list .lang-item.world {
  margin-top:8px;
}
    /* line 358, ../scss/_header.scss */
    /* .lang-list .lang-item.even {
      background-color: #939598; } */
    /* line 361, ../scss/_header.scss */
.lang-list .lang-item:hover {
  background-color:#efefef;
  border: 1px solid #ffffff;
}


/*  @media only screen and (max-width: 943px) {
    .lang-list .lang-item:hover {
      background-color:transparent;
      border:none } }*/


.lang-list .lang-item a {
  color: white;
  display:block;
  text-decoration:none; }
/* line 363, ../scss/_header.scss */
.lang-list .lang-item a .lang-option {
  /* color: white; */
  color:#aaaaaa;
  font-size:12px;
  line-height:14px;
  margin-right: 8px;
  /*text-transform: uppercase;*/ }

/*  @media only screen and (max-width: 943px) {
    .lang-list .lang-item a .lang-option {
      color:white;
      font-size:16px;
      line-height:18px;
    } }
    */
      /* line 367, ../scss/_header.scss */
      .lang-list .lang-item a .lang-option, .lang-list .lang-item a .lang-flag {
        display: inline-block; }

/*@media only screen and (max-width: 943px) {
  width: 320px;
  background-color: #302f35;
  /* line 376, ../scss/_header.scss *!/
  .lang-item {
    padding: 20px 96px 20px 15px; }
    /* line 378, ../scss/_header.scss *!/
    .lang-item a {
      position: relative; }
      /* line 380, ../scss/_header.scss *!/
      .lang-item a .lang-flag {
        right: -71px !important; }
    /* line 384, ../scss/_header.scss *!/
    .lang-item.even {
      background-color: #67686d; } }
      */

@media screen and (max-width:768px){
	#top-right-links li div.lex-lang-nav ul {
		/*margin-left:40px!important;*/
		position:absolute;
		left: -9px;
	}

}
@media only screen and (max-width: 480px) {
  width: 100%; }
/* line 392, ../scss/_header.scss */
.ms-products-lang-container {
  position: relative;
  display: block; }
  @media only screen and (max-width: 943px) {
    /* line 392, ../scss/_header.scss */
    .ms-products-lang-container {
      margin-right: 5px;
      margin-top: 5px; } }
  @media only screen and (max-width: 943px) {
    /* line 400, ../scss/_header.scss */
    .ms-products-lang-container .lex-lang-nav .lex-lang-nav-heading {
      display: block; } }

.lex-lang-nav-heading {
  padding-left:0;
  width: auto;
}
.lex-lang-nav-heading .lang-current.no-flag {
  margin-right:0;
}
.standard-lang.lang-width {
  width:152px;
}
ul.lang-list > li.lang-item:hover > ul.lang-list{
  display:block;
}
.lang-list.languages {
  width:150px;
}
.lang-list.languages .lang-item {
  padding-right:15px !important;
}
span.lang-arrow-right {
  font-size:12px;
  line-height:14px;
}

/* Fixes/overrides to nav menu: */
.lex-lang-nav {
  margin-top: 1px;
}
.lex-lang-nav button {
  -webkit-appearance: button;
  cursor: pointer;
}

.lex-lang-nav a {
  padding: 0 !important;
}


/* One-off: hide the subscribe link ON the subscribe page */
body.page-template-page-subscribe .subscribe-link { display: none; }
body.page-template-page-contact .contact-us-link { display: none; }
