.header-stripe {
	background-color: #444;
	padding: 15px 0;
	.entry-title {
		font-size: 36px;
		font-weight: 300;
		line-height: 45px;
		color: #fff;
		margin: 0;
		padding: 0;
		border-width: 0;
	}
}
.filters-stripe {

	padding: 35px 0 10px 0;
	background-color: #f1f1f1;
	
	.filters-box {
		display: flex;
		flex-wrap: wrap;

		.filter-box {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100%;
			font-size: 12px;
			font-weight: bold;
			color: #000;
			margin-bottom: 30px;
			@media (min-width: 768px) and (max-width: 921px) {
				flex-basis: 50%;
				&:nth-child(2n) {
					padding-left: 15px;
					padding-right: 0;
				}
				&:nth-child(2n+1) {
					padding-left: 0;
					padding-right: 15px;
				}
			}
			@media (min-width: 922px) {
				padding: 0 15px;
				flex-basis:25%;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
			select {
				width: 100%;
				font-size: 16px;
				padding: 10px;
			}
			select#fotd_category {
				width: 100%;
				margin: 0;
			}
			input[type=button] {
				width: 100%;
				font-size: 14px;
				font-weight: 600;
				color: #fff;
				text-align: center;
				padding: 10px;
				margin: 0;
				background-color: $lnrs-red;
				border-width: 0;
				box-shadow: none;
				&:hover, &:active, &:focus {
					color: #fff;
					background-color: $lnrs-red-hover;
					text-decoration: none;
				}

			}
		}
	}
}


#main .posts-table thead {
	th {
		font-size: 16px;
		padding: 10px;
		background: #f5f5f5 none;
		a {
			color: #666;
			&:hover, &:active, &:focus {
				color: #333;
			}
		}
	}
}

.archive-list {
	padding-top: 10px;
	.article-item {
		@include clearfix;
		padding: 30px 0;
		border-bottom: 1px solid #ccc;

		.article-thumb {
			position: relative;
			width: 175px;
			height: 100px;
			overflow: hidden;
			margin-bottom: 15px;
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				max-width: 100%;
				height: auto;
			}
			@media (min-width: 922px) {
				float: left;
				margin-bottom: 0;
			}
		}
		.article-date {
			font-size: 14px;
			color: #666;
			margin-bottom: 10px;
		}
		.article-detail {
			@media (min-width: 922px) {
				margin-left: 210px;
			}
		}
		.article-title {
			font-size: 16px;
			font-weight: 600;
			color: $lnrs-red;
			margin-bottom: 10px;
			a {
				color: $lnrs-red !important;
				&:hover, &:active, &:focus {
					color: $lnrs-red-hover !important;
				}
	
			}
		}
		.article-expert {
			font-size: 14px;
			color: #000;
		}
	}
}

.paging-stripe {
	padding: 30px 0;
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
	.pagebar {
		margin: 0;
		span, a {
			display: inline-block;
			vertical-align: top;
			width: 40px;
			height: 40px;
			font-size: 15px;
			color: #000;
			text-align: center;
			margin-right: 5px;
			padding-top: 10px;
			background-color: #fff;

			&.this-page,
			&:hover, &:active, &:focus {
				background-color: #000;
				color: #fff;
				text-decoration: none;
			}
		}
		span:first-child {
			display: none;
		}
		& > :nth-child(2){
			background-color: transparent !important;
			background-image: url('../images/angle-double-left.svg');
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-position: center center;
		}
		& > :last-child {
			background-color: transparent !important;
			background-image: url('../images/angle-double-right.svg');
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-position: center center;
		}

		& > :nth-child(2),
		& > :last-child {
			background-color: transparent !important;
		}
	}
}

