

/*
 * Footer
 */
 #colophon {
	border: none;
	padding: 50px 0 0 0;
	margin: 0;
	background-color: #000;
	.copyright {
		font-size: 12px;
		color: #666;
		padding-bottom: 30px;
		a {
			color: #666;
			text-decoration: none;
			&:hover, &:active, &:focus {
				color: #fff;
				text-decoration: none;
			}
		}
		p {
			font-size: 12px;
			line-height: 16px;
			margin: 10px 0 0 0;
		}
	}
	
}

.footer-2 {
	background-color: #222;
	padding: 20px 0;
	text-align: center;
	color: #ccc;
	font-size: 12px;

	a {
		color: #ccc;
		text-decoration: none;
		&:hover, &:active, &:focus {
			color: #fff;
			text-decoration: none;
		}
		&.terms-link {
			padding-right: 10px;
		}
		&.privacy-link {
			padding-left: 10px;
		}
	}
	#connect-with-us {
		.links {
			display: inline-block;
			margin: 0;
			a {
				float: none;
			}
			&.linkedin {
				backgrund: transparent url('../images/icon_social_linkedin.png') no-repeat center center;
			}
			&.facebook {
				backgrund: transparent url('../images/icon_social_facebook.png') no-repeat center center;
			}
			&.twitter {
				backgrund: transparent url('../images/icon_social_twitter.png') no-repeat center center;
			}
			&.yutube {
				backgrund: transparent url('../images/icon_social_youtube.png') no-repeat center center;
			}
		}
	}
}

@media (max-width: 1199px) {
	#colophon {
		#footer-menu {
			li {
				display: block;
				float: none;
				font-size: 16px;
				font-weight: 600;
				a {
					display: block;
					color: #ccc;
					padding: 6px 0;

					&:hover, &:active, &:focus {
						color: #fff;
						text-decoration: none;
					}
					span.basic-divider {
						display: none;
					}
				}
			}
		}
		.footer-2 {
			text-align: center;
			.row > div {
				margin-bottom: 15px;
			}
		}
	}

}

@media (min-width: 1200px) {
	
	#colophon {
		#footer-menu {
			li {
				font-size: 14px;
				a {
					color: #ccc;
					padding: 0 0 0 6px;

					&:hover, &:active, &:focus {
						color: #fff;
						text-decoration: none;
						span.basic-divider {
							color: #ccc;
						}
					}
					span.basic-divider {
						color: #ccc;
						margin-left: 6px;
					}
				}
				&:first-child {
					a {
						padding: 0;
					}
				}
				&:last-child {
					a {
						span.basic-divider {
							display: none;
						}
					}
				}
			}
		}
	}

}

