
$lnrs-red: #EC1F26;
$lnrs-red-hover: #b52025;
$lnrs-bluegray: #00778B;
$lnrs-font-family: "Source Sans Pro", sans-serif;

@mixin clearfix() {
	&::after {
	  display: block;
	  content: "";
	  clear: both;
	}
  }

body {
	font-family: $lnrs-font-family;
}

@media (min-width: 576px) {
.container {
    max-width: unset;
}
}
@media (min-width: 768px) {
.container {
    max-width: unset;
}
}
@media (min-width: 992px) {
.container {
    max-width: 1230px;
}
}
