

.navbar-toggler {
	width: 22px;
	height: 32px;
    margin: 0;
	padding: 0;
    border-width: 0; 
	.icon-bar {
		display: block;	
		width: 22px;
		height: 3px;
		border-radius: 0;
		margin-bottom: 1px;
		background-color: black;
		float: left;
		clear: both; 
		& + .icon-bar {
			margin-top: 4px;
		}
	}
	
}

.navbar-toggler:not(.collapsed) {
    padding-top: 10px;
    padding-bottom: 22px;
	.icon-bar:first-child {
		top: 4px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative; 
	}
	.icon-bar:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: relative;
        margin: 0; 
	}	
	.icon-bar:last-child {
        display: none; 
	}
}



@media (max-width: 576px) {
	header#branding {
		#blog-name {
			display: none;
		}
	}
}
@media (max-width: 1199px) {
	header#branding {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		height: 80px !important;
		z-index: 1020;
		border: 0;
		margin: 0;
		padding: 0;
		background-color: #fff;
		border-bottom: 4px solid #ccc;
		
		#logo {
			top: 25px;
			left: 0;
			width: 120px;
			margin: 0;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		#blog-name {
			top: 34px;
			left: 135px;
			font-size: 14px;
			font-weight: 600;
			background-image: none;
			border-left: 1px solid #000;
			padding-left: 10px;
			margin: 0;
		}
		.navbar-toggler {
			display: block;
			position: absolute;
			right: 20px;
			top: 22px;
			outline: none;
			&:hover, &:active, &:focus {
				outline: none;
			}
		}
		.opener {
			display: none;
		}
		#searchform {
			position: relative;
			top: auto;
			right: auto;
			width: 100%;
			height: auto;
			padding: 0;
			border-width: 0;
			#s {
				display: block;
				vertical-align: top;
				float: none;
				width: 100%;
				height: 40px;
				margin: 0;
				padding-right: 60px;
				border: 1px solid #ccc;
				border-width: 1px 0 1px 1px;
			}
			#searchsubmit {
				position: absolute;
				top: 0;
				right: 0;				
				display: block;
				float: none;
				width: 55px;
				height: 40px;
				border-width: 0;
				background: $lnrs-red url('../images/icon-search-white.svg') no-repeat center center;
				background-size: 20px 20px;
				margin: 0;
				&:hover, &:active, &:focus {
					background-color: $lnrs-red-hover;
				}
			}
		}
		.corporate-link {
			display: block;
			vertical-align: top;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
			text-align: center;
			background-color: $lnrs-red;
			padding: 12px;
			text-decoration: none;
			margin-top: 5px;
			&:hover, &:active, &:focus {
				background-color: $lnrs-red-hover;
			}
		}
		
		#access {
			position: relative;
			bottom: auto;
			float: none;
			div.menu-default-menu-container,
			div.menu {
				margin: 0;
				padding: 0;
				& > ul {
				padding-top: 10px;
					& > li {
						display: block;
						float: none;
						height: auto;
						border-width: 0;
						&:hover, &.current-menu-item,
						&.current_page_item, &.current_page_ancestor {
							background: transparent;
						}
						& > a {
							display: block;
							height: auto;
							font-family: $lnrs-font-family;
							font-size: 18px;
							font-weight: normal;
							color: #444;
							padding: 8px 15px;
						}
					}
				}
			}
		}
	}
	
	.navbar-collapse {
		max-height: initial;
		display: block !important;
		height: auto !important;
		.navbar-inner {
			position: fixed;
			left: 110%;
			right: 0;
			bottom: 0;
			overflow: hidden;
			top: 75px;
			transition: left 0.5s ease-out;
			background-color: white;
			margin: 0;
		}
		&.show {
			.navbar-inner {
				overflow: visible;
				left: 0;
				bottom: 0
			}
		}
	}
}	


@media (min-width: 1200px) {
	header#branding {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		height: 120px;
		z-index: 1020;
		border: 0;
		margin: 0;
		padding: 0;
		background-color: #fff;
		border-bottom: 4px solid #ccc;
		
		#logo {
			top: 31px;
			left: 0;
			margin: 0;
		}
		#blog-name {
			top: 45px;
			left: 210px;
			font-size: 24px;
			font-weight: 600;
			background-image: none;
			border-left: 2px solid #000;
			margin: 0;
			padding-left: 16px;
		}
		div.navbar {
			margin: 0 auto;
			position: relative;
			min-height: 118px;
			padding: 0;
		}
		#searchform {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			height: 40px;
			width: 300px;
			border-width: 0;
			margin: 0;
			padding: 0;
			background-color: #fff;
			& > div {
				white-space: nowrap;
			}
			#s {
				display: inline-block;
				vertical-align: top;
				float: none;
				width: 245px;
				height: 40px;
				margin: 0;
				border: 1px solid #ccc;
				border-width: 1px 0 1px 1px;
			}
			#searchsubmit {
				display: inline-block;
				vertical-align: top;
				float: none;
				width: 55px;
				height: 40px;
				border-width: 0;
				background: $lnrs-red url('../images/icon-search-white.svg') no-repeat center center;
				background-size: 20px 20px;
				margin: 0;
				&:hover, &:active, &:focus {
					background-color: $lnrs-red-hover;
				}
			}
		}
	}

	.top-nav {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0;
		.corporate-link {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
			background-color: $lnrs-red;
			padding: 10px 33px 9px 33px;
			text-decoration: none;
			border-left: 2px solid #fff;
			&:hover, &:active, &:focus {
				background-color: $lnrs-red-hover;
			}
		}
		.opener {
			height: 40px;
			width: 55px;
			display: inline-block;
			vertical-align: top;
			border-width: 0;
			background: #EC1F26 url('../images/icon-search-white.svg') no-repeat center center;
			background-size: 20px 20px;
			&:hover, &:active, &:focus {
				background-color: $lnrs-red-hover;
			}

		}	
		.top-search {
			height: 40px;
			width: 55px;
			display: inline-block;
			vertical-align: top;
			
			#searchform {
				display: none;
			}
			&.open {
				width: 300px;
				.opener {
					display: none;
				}
				#searchform {
					display: block;
				}
			}
		}
	}
	/*
	 * megamenu
	*/
	#access {
		display: block;
		float: none;
		& > div.menu-default-menu-container,
		& > div.menu {
			margin: 0;
			& > ul {
				display: flex;
				justify-content: flex-end;
				margin: 0;
				padding: 0;
				& > li {
					height: auto;
					font-size: 18px;
					padding: 0;
					&:hover,
					&.current-menu-item, 
					&.current_page_item, 
					&.current_page_ancestor {
						background-color: transparent;
					}
					& > a {
						display: block;
						height: auto;
						font-family: $lnrs-font-family;
						font-size: 18px;
						color: #666;
						padding: 10px 20px 15px 20px;
						border-width: 0;
						
					}
				}
			}
		}
	}
	
}