
/*
 * headlines
 */
 .page {
	#content {
		.entry-content {
			h2 + ul {
				list-style: none outside;
				margin: 0;
				padding: 0;
				border-bottom: 1px solid #ccc;
				li {
					display: flex;
					flex-wrap: nowrap;
					padding: 20px 0;
					border-top: 1px solid #ccc;
					background-image: none;
					strong {
						display: block;
						width: 120px;
						flex-grow: 0;
						flex-shrink: 0;
						font-size: 20px;
						line-height: 30px;
						font-weight: 600;
						color: #666;
					}
					a {
						display: block;
						flex-grow: 1;
						font-size: 16px;
						line-height: 20px;
						font-weight: 600;
						color: $lnrs-red;
						&:hover, &:active, &:focus {
							color: $lnrs-red-hover;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
 }
