.home-stripe {
	position: relative;
	background-color: #444;
	overflow: hidden;
	.container {
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: -100%;
			left: -4000px;
			bottom: 0;
			background-color: #444;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 90%;
			right: -4000px;
			bottom: 0;
			background-color: $lnrs-red;
		}
	}
	
	h2 {
		font-size: 36px;
		font-weight: 300;
		color: #fff;
		margin: 0;
		padding: 20px 0;
	}
	
	.archive-link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 15px;
		right: 0;
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: normal;
		color: #fff;
		text-decoration: none;
		padding-top: 25px;
		background-color: $lnrs-red;
		z-index: 1;
		&:hover, &:active, &:focus {
			color: #fff;
			text-decoration: none;
		}
	}
	@media (max-width: 921px) {
		.container {
			&:after, &:before {
				display: none;
			}
		}
		.col-md-3 {
			height: 70px;
			.archive-link {
				left: 0;
				padding-top: 20px;
			}
		}
	}
}


  
.slideshow-responsive-box {
	img {
		width: 100%;
	}
	.cycle-pager {
		text-align: right;
		z-index: 500;
		position: relative;
		margin: 0 auto;
		overflow: hidden;
		right: 10px;
		float: right;
		z-index: 500;
		margin-top: -12px;
	}
}

.article-grid {
	margin: 0 -15px 50px -15px;
	display: flex;
	flex-wrap: wrap;
	.tile {
		padding: 8px 15px;
		flex-basis: 100%;
		@media (min-width: 576px) {
			flex-basis: 50%;
		}
		@media (min-width: 992px) {
			flex-basis: 33.333%;
		}
		.inner {
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
			&:hover {
				box-shadow: 0 1px 4px 0 rgba(0,0,0,0.6);
			}
		}
		.image-wrapper {
			position: relative;
			height: 1px;
			padding-bottom: 66.66%;
			img {
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				top: 0;
				left: 0;
			}
		}
		.caption {
			padding: 20px;
		}
		.date {
			font-size: 14px;
			line-height: 18px;
			color: #666;
			a {
				color: #666;
				text-decoration: none;
				&:hover, &:active, &:focus {
					color: #000;
				}
			}
		}
		.title {
			position: relative;
			font-size: 18px;
			font-weight: normal;
			line-height: 23px;
			margin: 22px 0 15px 0;
			color: #000;
			// ellipsis
			height: 40px;
			overflow: hidden;
			margin-bottom: 15px;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				width: 50%;
				height: 22px;
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
			}

			a {
				color: #000;
				text-decoration: none;
				&:hover, &:active, &:focus {
					color: #000;
				}
			}

		}
		.expert {
			font-size: 14px;
			line-height: 18px;
			margin: 6px 0 0 0;
			color: #000;
			a {
				color: #000;
				text-decoration: none;
				&:hover, &:active, &:focus {
					color: #000;
				}
			}
		}
	}
}

.bottom-more {
	padding-bottom: 40px;
	a {
		display: block;
		width: 100%;
		font-size: 16px;
		font-weight: normal;
		color: #fff;
		text-align: center;
		padding: 17px;
		border-radius: 4px;
		background-color: #000;
		&:hover, &:active, &:focus {
			text-decoration: none;
			opacity: .8;
		}
	}
}