
.breadcrumb-stripe {
	border-bottom: 1px solid #ccc;
	padding: 30px 0;
	div.breadcrumb {
		font-size: 16px;
		font-weight: 600;
		color: #666;
		margin: 0;
		padding: 0;
		border-radius: 0;
		background-color: transparent;
		padding: 0;
		a {
			font-weight: normal;
			color: #666;
			&:hover, &:active, &:focus {
				color: #000;
				text-decoration: underline;
			}
		}
	}
} 

.single {
	.single-wrapper {
		padding: 0 90px;
		#single-header {
			margin: 0;
			padding: 0;
			h1.entry-title {
				font-size: 32px;
				font-weight: 300;
				line-height: 40px;
				color: $lnrs-bluegray;
				margin: 0;
				padding: 0 0 35px 0;
				background-color: transparent;
				border-width: 0;
			}
		}
		#content {
			margin: 0 !important;
		}
	}
}
#content {
	.author {
		& > div.wb-image {
			img {
				border-width: 0;
				padding: 0;
			}
		}
		& > div.wb {
				font-size: 14px;
				line-height: 18px;
			a {
				color: #444;
				text-decoration: none;
			}
		}
		& >div.posted-on {
			font-size: 14px;
			font-weight: bold;
			color: #000;
		}
		@media (min-width: 921px) {
			width: 50%;
			float: left;
		}
	}
	.social-share {
		
		@media (min-width: 921px) {
			width: 50%;
			float: left;
		}
	}
	article.post {
		clear: both;
	}
}


#comments {
	.comments-wrapper {
		background-color: #f1f1f1;
		border-top: 1px solid #ccc;
		.comments-header {
			font-size: 24px;
			font-weight: normal;
			color: #000;
			padding: 20px 0 20px 30px;
			background: transparent url('../images/plus-circle.svg') no-repeat 0 28px;
			background-size: 22px 22px;
		}
		#form-comment-block {
			display: none;
			#respond {
				#reply-title {
					display: none;
				}
			}
		}
	}
	.comments-list {
		display: none;
	}
	&.open {
		.comments-wrapper {
			.comments-header {
				background: transparent url('../images/minus-circle.svg') no-repeat 0 28px;
				background-size: 22px 22px;	
			}
			#form-comment-block {
				display: block;
			}
		}
		.comments-list {
			display: block;
		}
	}
}

.contact-stripe {
	background-color: #444;
	color: #fff;
	font-size: 36px;
	font-weight: 300;
	padding: 20px 0;
}
