
#secondary {
	.widget {
		border-width: 0;
		//padding-bottom: 0;
	}
	.widget-title {
		font-family: $lnrs-font-family;
		font-size: 20px;
		color: #444;
		padding: 0 0 15px 0;
		border-bottom: 1px solid #ccc;
		margin-bottom: 15px; 
	}
}
.widget a {
	font-family: $lnrs-font-family;
}

.widget-subscribe {
	position: relative;
	padding: 55px 25px;
	text-align: center;
	overflow: hidden;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.7);
		overflow: hidden;
		z-index: 1;
	}
	img {
		display: block;
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
	}
	h3 {
		position: relative;
		font-size: 24px;
		line-height: 30px;
		font-weight: 300;
		color: #fff;
		z-index: 10;
		margin: 0 0 25px 0;
	}
	a {
		display: inline-block;
		position: relative;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		padding: 13px 35px;
		background-color: $lnrs-red;
		border-radius: 4px;
		z-index: 10;
		&:hover, &:active, &:focus {
			background-color: $lnrs-red-hover;
			text-decoration: none;
		}
	}
}


.widget-about {
    position: relative;
    text-align: center;
    height: 1px;
    padding-bottom: 66%;
    overflow: hidden;

    &:before {
       content: "";
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: #000;
       opacity: .5;
       z-index: 1;
    }
    img {
       position: absolute;
       top: 0;
       left: 0;
       min-width: 100%;
       min-height: 100%;
    }
    .button-about {
       position: absolute;
       width: 100%;
       top: 40%;
       font-size: 24px;
       font-weight: 600;
       color: #fff;
       z-index: 2;
    }
    .content-about {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: #fff;
        padding: 20px;
        z-index: 3;
        &:before {
           content: "";
           display: block;
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           background-color: $lnrs-red;
           opacity: .6;
           z-index: 1;
        }
   
        h2 {
           position: relative;
           font-size: 16px;
           line-height: 20px;
           margin: 0 0 10px 0;
           font-weight: bold;
           z-index: 2;
        }
        p {
           position: relative;
           font-size: 14px;
           margin: 0;
           z-index: 2;
        }
    }
    &.open {
        .button-about {
            display: none;
        }
        .content-about {
            display: block;
        }
    }
}
.widget-experts {
   position: relative;
   text-align: center;
   height: 1px;
   padding-bottom: 66%;
   overflow: hidden;

   &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      opacity: .5;
      z-index: 1;
   }
   img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
   }
  .button-experts 
   {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       font-size: 24px;
       font-weight: 600;
       color: #fff;
       padding-top: 23%;
       z-index: 2;
       &:hover, &:active, &:focus {
           color: #fff;
           text-decoration: none;
       }
   }
}
.widget_spotlight {
   .spotlight-body {
       .spotlight-item {
           @include clearfix;
           clear: both;
           padding: 10px 0;
       }
       .spotlight-description {
           margin-left: 90px;
           a {
               color: #444;
               &:hover, &:active, &:focus {
                   color: #000;
                   text-decoration: none;
               }
           }
       }
       .spotlight-thumbnail {
           width: 80px;
           height: 80px;
           float: left;
           clear: both;
           img { 
               max-width: 100%;
               height: auto;
           }
       }
   }
}

#secondary
.widget_categories {
   ul {
       li {
           padding: 3px 0;
           margin: 0;
           font-size: 14px;
           background-image: none;
           color: #444;
           a {
               color: $lnrs-red;
               &:hover, &:active, &:focus {
                   color:$lnrs-red-hover;
                   text-decoration: none;
               }
           }
       }
   }
}

// EOF