body {
  font-family: "Source Sans Pro", sans-serif; }

@media (min-width: 576px) {
  .container {
    max-width: unset; } }
@media (min-width: 768px) {
  .container {
    max-width: unset; } }
@media (min-width: 992px) {
  .container {
    max-width: 1230px; } }
.navbar-toggler {
  width: 22px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-width: 0; }
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 0;
    margin-bottom: 1px;
    background-color: black;
    float: left;
    clear: both; }
    .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px; }

.navbar-toggler:not(.collapsed) {
  padding-top: 10px;
  padding-bottom: 22px; }
  .navbar-toggler:not(.collapsed) .icon-bar:first-child {
    top: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative; }
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    margin: 0; }
  .navbar-toggler:not(.collapsed) .icon-bar:last-child {
    display: none; }

@media (max-width: 576px) {
  header#branding #blog-name {
    display: none; } }
@media (max-width: 1199px) {
  header#branding {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px !important;
    z-index: 1020;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 4px solid #ccc; }
    header#branding #logo {
      top: 25px;
      left: 0;
      width: 120px;
      margin: 0; }
      header#branding #logo img {
        max-width: 100%;
        height: auto; }
    header#branding #blog-name {
      top: 34px;
      left: 135px;
      font-size: 14px;
      font-weight: 600;
      background-image: none;
      border-left: 1px solid #000;
      padding-left: 10px;
      margin: 0; }
    header#branding .navbar-toggler {
      display: block;
      position: absolute;
      right: 20px;
      top: 22px;
      outline: none; }
      header#branding .navbar-toggler:hover, header#branding .navbar-toggler:active, header#branding .navbar-toggler:focus {
        outline: none; }
    header#branding .opener {
      display: none; }
    header#branding #searchform {
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
      height: auto;
      padding: 0;
      border-width: 0; }
      header#branding #searchform #s {
        display: block;
        vertical-align: top;
        float: none;
        width: 100%;
        height: 40px;
        margin: 0;
        padding-right: 60px;
        border: 1px solid #ccc;
        border-width: 1px 0 1px 1px; }
      header#branding #searchform #searchsubmit {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        float: none;
        width: 55px;
        height: 40px;
        border-width: 0;
        background: #EC1F26 url("../images/icon-search-white.svg") no-repeat center center;
        background-size: 20px 20px;
        margin: 0; }
        header#branding #searchform #searchsubmit:hover, header#branding #searchform #searchsubmit:active, header#branding #searchform #searchsubmit:focus {
          background-color: #b52025; }
    header#branding .corporate-link {
      display: block;
      vertical-align: top;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      text-align: center;
      background-color: #EC1F26;
      padding: 12px;
      text-decoration: none;
      margin-top: 5px; }
      header#branding .corporate-link:hover, header#branding .corporate-link:active, header#branding .corporate-link:focus {
        background-color: #b52025; }
    header#branding #access {
      position: relative;
      bottom: auto;
      float: none; }
      header#branding #access div.menu-default-menu-container,
      header#branding #access div.menu {
        margin: 0;
        padding: 0; }
        header#branding #access div.menu-default-menu-container > ul,
        header#branding #access div.menu > ul {
          padding-top: 10px; }
          header#branding #access div.menu-default-menu-container > ul > li,
          header#branding #access div.menu > ul > li {
            display: block;
            float: none;
            height: auto;
            border-width: 0; }
            header#branding #access div.menu-default-menu-container > ul > li:hover, header#branding #access div.menu-default-menu-container > ul > li.current-menu-item, header#branding #access div.menu-default-menu-container > ul > li.current_page_item, header#branding #access div.menu-default-menu-container > ul > li.current_page_ancestor,
            header#branding #access div.menu > ul > li:hover,
            header#branding #access div.menu > ul > li.current-menu-item,
            header#branding #access div.menu > ul > li.current_page_item,
            header#branding #access div.menu > ul > li.current_page_ancestor {
              background: transparent; }
            header#branding #access div.menu-default-menu-container > ul > li > a,
            header#branding #access div.menu > ul > li > a {
              display: block;
              height: auto;
              font-family: "Source Sans Pro", sans-serif;
              font-size: 18px;
              font-weight: normal;
              color: #444;
              padding: 8px 15px; }

  .navbar-collapse {
    max-height: initial;
    display: block !important;
    height: auto !important; }
    .navbar-collapse .navbar-inner {
      position: fixed;
      left: 110%;
      right: 0;
      bottom: 0;
      overflow: hidden;
      top: 75px;
      transition: left 0.5s ease-out;
      background-color: white;
      margin: 0; }
    .navbar-collapse.show .navbar-inner {
      overflow: visible;
      left: 0;
      bottom: 0; } }
@media (min-width: 1200px) {
  header#branding {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 120px;
    z-index: 1020;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 4px solid #ccc; }
    header#branding #logo {
      top: 31px;
      left: 0;
      margin: 0; }
    header#branding #blog-name {
      top: 45px;
      left: 210px;
      font-size: 24px;
      font-weight: 600;
      background-image: none;
      border-left: 2px solid #000;
      margin: 0;
      padding-left: 16px; }
    header#branding div.navbar {
      margin: 0 auto;
      position: relative;
      min-height: 118px;
      padding: 0; }
    header#branding #searchform {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      height: 40px;
      width: 300px;
      border-width: 0;
      margin: 0;
      padding: 0;
      background-color: #fff; }
      header#branding #searchform > div {
        white-space: nowrap; }
      header#branding #searchform #s {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 245px;
        height: 40px;
        margin: 0;
        border: 1px solid #ccc;
        border-width: 1px 0 1px 1px; }
      header#branding #searchform #searchsubmit {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 55px;
        height: 40px;
        border-width: 0;
        background: #EC1F26 url("../images/icon-search-white.svg") no-repeat center center;
        background-size: 20px 20px;
        margin: 0; }
        header#branding #searchform #searchsubmit:hover, header#branding #searchform #searchsubmit:active, header#branding #searchform #searchsubmit:focus {
          background-color: #b52025; }

  .top-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0; }
    .top-nav .corporate-link {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      background-color: #EC1F26;
      padding: 10px 33px 9px 33px;
      text-decoration: none;
      border-left: 2px solid #fff; }
      .top-nav .corporate-link:hover, .top-nav .corporate-link:active, .top-nav .corporate-link:focus {
        background-color: #b52025; }
    .top-nav .opener {
      height: 40px;
      width: 55px;
      display: inline-block;
      vertical-align: top;
      border-width: 0;
      background: #EC1F26 url("../images/icon-search-white.svg") no-repeat center center;
      background-size: 20px 20px; }
      .top-nav .opener:hover, .top-nav .opener:active, .top-nav .opener:focus {
        background-color: #b52025; }
    .top-nav .top-search {
      height: 40px;
      width: 55px;
      display: inline-block;
      vertical-align: top; }
      .top-nav .top-search #searchform {
        display: none; }
      .top-nav .top-search.open {
        width: 300px; }
        .top-nav .top-search.open .opener {
          display: none; }
        .top-nav .top-search.open #searchform {
          display: block; }

  /*
   * megamenu
  */
  #access {
    display: block;
    float: none; }
    #access > div.menu-default-menu-container, #access > div.menu {
      margin: 0; }
      #access > div.menu-default-menu-container > ul, #access > div.menu > ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0; }
        #access > div.menu-default-menu-container > ul > li, #access > div.menu > ul > li {
          height: auto;
          font-size: 18px;
          padding: 0; }
          #access > div.menu-default-menu-container > ul > li:hover, #access > div.menu-default-menu-container > ul > li.current-menu-item, #access > div.menu-default-menu-container > ul > li.current_page_item, #access > div.menu-default-menu-container > ul > li.current_page_ancestor, #access > div.menu > ul > li:hover, #access > div.menu > ul > li.current-menu-item, #access > div.menu > ul > li.current_page_item, #access > div.menu > ul > li.current_page_ancestor {
            background-color: transparent; }
          #access > div.menu-default-menu-container > ul > li > a, #access > div.menu > ul > li > a {
            display: block;
            height: auto;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
            color: #666;
            padding: 10px 20px 15px 20px;
            border-width: 0; } }
/*
 * Footer
 */
#colophon {
  border: none;
  padding: 50px 0 0 0;
  margin: 0;
  background-color: #000; }
  #colophon .copyright {
    font-size: 12px;
    color: #666;
    padding-bottom: 30px; }
    #colophon .copyright a {
      color: #666;
      text-decoration: none; }
      #colophon .copyright a:hover, #colophon .copyright a:active, #colophon .copyright a:focus {
        color: #fff;
        text-decoration: none; }
    #colophon .copyright p {
      font-size: 12px;
      line-height: 16px;
      margin: 10px 0 0 0; }

.footer-2 {
  background-color: #222;
  padding: 20px 0;
  text-align: center;
  color: #ccc;
  font-size: 12px; }
  .footer-2 a {
    color: #ccc;
    text-decoration: none; }
    .footer-2 a:hover, .footer-2 a:active, .footer-2 a:focus {
      color: #fff;
      text-decoration: none; }
    .footer-2 a.terms-link {
      padding-right: 10px; }
    .footer-2 a.privacy-link {
      padding-left: 10px; }
  .footer-2 #connect-with-us .links {
    display: inline-block;
    margin: 0; }
    .footer-2 #connect-with-us .links a {
      float: none; }
    .footer-2 #connect-with-us .links.linkedin {
      backgrund: transparent url("../images/icon_social_linkedin.png") no-repeat center center; }
    .footer-2 #connect-with-us .links.facebook {
      backgrund: transparent url("../images/icon_social_facebook.png") no-repeat center center; }
    .footer-2 #connect-with-us .links.twitter {
      backgrund: transparent url("../images/icon_social_twitter.png") no-repeat center center; }
    .footer-2 #connect-with-us .links.yutube {
      backgrund: transparent url("../images/icon_social_youtube.png") no-repeat center center; }

@media (max-width: 1199px) {
  #colophon #footer-menu li {
    display: block;
    float: none;
    font-size: 16px;
    font-weight: 600; }
    #colophon #footer-menu li a {
      display: block;
      color: #ccc;
      padding: 6px 0; }
      #colophon #footer-menu li a:hover, #colophon #footer-menu li a:active, #colophon #footer-menu li a:focus {
        color: #fff;
        text-decoration: none; }
      #colophon #footer-menu li a span.basic-divider {
        display: none; }
  #colophon .footer-2 {
    text-align: center; }
    #colophon .footer-2 .row > div {
      margin-bottom: 15px; } }
@media (min-width: 1200px) {
  #colophon #footer-menu li {
    font-size: 14px; }
    #colophon #footer-menu li a {
      color: #ccc;
      padding: 0 0 0 6px; }
      #colophon #footer-menu li a:hover, #colophon #footer-menu li a:active, #colophon #footer-menu li a:focus {
        color: #fff;
        text-decoration: none; }
        #colophon #footer-menu li a:hover span.basic-divider, #colophon #footer-menu li a:active span.basic-divider, #colophon #footer-menu li a:focus span.basic-divider {
          color: #ccc; }
      #colophon #footer-menu li a span.basic-divider {
        color: #ccc;
        margin-left: 6px; }
    #colophon #footer-menu li:first-child a {
      padding: 0; }
    #colophon #footer-menu li:last-child a span.basic-divider {
      display: none; } }
#secondary .widget {
  border-width: 0; }
#secondary .widget-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #444;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px; }

.widget a {
  font-family: "Source Sans Pro", sans-serif; }

.widget-subscribe {
  position: relative;
  padding: 55px 25px;
  text-align: center;
  overflow: hidden; }
  .widget-subscribe:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 1; }
  .widget-subscribe img {
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0; }
  .widget-subscribe h3 {
    position: relative;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    z-index: 10;
    margin: 0 0 25px 0; }
  .widget-subscribe a {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 13px 35px;
    background-color: #EC1F26;
    border-radius: 4px;
    z-index: 10; }
    .widget-subscribe a:hover, .widget-subscribe a:active, .widget-subscribe a:focus {
      background-color: #b52025;
      text-decoration: none; }

.widget-about {
  position: relative;
  text-align: center;
  height: 1px;
  padding-bottom: 66%;
  overflow: hidden; }
  .widget-about:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    z-index: 1; }
  .widget-about img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%; }
  .widget-about .button-about {
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    z-index: 2; }
  .widget-about .content-about {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 20px;
    z-index: 3; }
    .widget-about .content-about:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #EC1F26;
      opacity: .6;
      z-index: 1; }
    .widget-about .content-about h2 {
      position: relative;
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 10px 0;
      font-weight: bold;
      z-index: 2; }
    .widget-about .content-about p {
      position: relative;
      font-size: 14px;
      margin: 0;
      z-index: 2; }
  .widget-about.open .button-about {
    display: none; }
  .widget-about.open .content-about {
    display: block; }

.widget-experts {
  position: relative;
  text-align: center;
  height: 1px;
  padding-bottom: 66%;
  overflow: hidden; }
  .widget-experts:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    z-index: 1; }
  .widget-experts img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%; }
  .widget-experts .button-experts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding-top: 23%;
    z-index: 2; }
    .widget-experts .button-experts:hover, .widget-experts .button-experts:active, .widget-experts .button-experts:focus {
      color: #fff;
      text-decoration: none; }

.widget_spotlight .spotlight-body .spotlight-item {
  clear: both;
  padding: 10px 0; }
  .widget_spotlight .spotlight-body .spotlight-item::after {
    display: block;
    content: "";
    clear: both; }
.widget_spotlight .spotlight-body .spotlight-description {
  margin-left: 90px; }
  .widget_spotlight .spotlight-body .spotlight-description a {
    color: #444; }
    .widget_spotlight .spotlight-body .spotlight-description a:hover, .widget_spotlight .spotlight-body .spotlight-description a:active, .widget_spotlight .spotlight-body .spotlight-description a:focus {
      color: #000;
      text-decoration: none; }
.widget_spotlight .spotlight-body .spotlight-thumbnail {
  width: 80px;
  height: 80px;
  float: left;
  clear: both; }
  .widget_spotlight .spotlight-body .spotlight-thumbnail img {
    max-width: 100%;
    height: auto; }

#secondary
.widget_categories ul li {
  padding: 3px 0;
  margin: 0;
  font-size: 14px;
  background-image: none;
  color: #444; }
  #secondary
  .widget_categories ul li a {
    color: #EC1F26; }
    #secondary
    .widget_categories ul li a:hover, #secondary
    .widget_categories ul li a:active, #secondary
    .widget_categories ul li a:focus {
      color: #b52025;
      text-decoration: none; }

.home-stripe {
  position: relative;
  background-color: #444;
  overflow: hidden; }
  .home-stripe .container {
    position: relative; }
    .home-stripe .container:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      left: -4000px;
      bottom: 0;
      background-color: #444; }
    .home-stripe .container:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 90%;
      right: -4000px;
      bottom: 0;
      background-color: #EC1F26; }
  .home-stripe h2 {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 20px 0; }
  .home-stripe .archive-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    padding-top: 25px;
    background-color: #EC1F26;
    z-index: 1; }
    .home-stripe .archive-link:hover, .home-stripe .archive-link:active, .home-stripe .archive-link:focus {
      color: #fff;
      text-decoration: none; }
  @media (max-width: 921px) {
    .home-stripe .container:after, .home-stripe .container:before {
      display: none; }
    .home-stripe .col-md-3 {
      height: 70px; }
      .home-stripe .col-md-3 .archive-link {
        left: 0;
        padding-top: 20px; } }

.slideshow-responsive-box img {
  width: 100%; }
.slideshow-responsive-box .cycle-pager {
  text-align: right;
  z-index: 500;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  right: 10px;
  float: right;
  z-index: 500;
  margin-top: -12px; }

.article-grid {
  margin: 0 -15px 50px -15px;
  display: flex;
  flex-wrap: wrap; }
  .article-grid .tile {
    padding: 8px 15px;
    flex-basis: 100%; }
    @media (min-width: 576px) {
      .article-grid .tile {
        flex-basis: 50%; } }
    @media (min-width: 992px) {
      .article-grid .tile {
        flex-basis: 33.333%; } }
    .article-grid .tile .inner {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
      .article-grid .tile .inner:hover {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6); }
    .article-grid .tile .image-wrapper {
      position: relative;
      height: 1px;
      padding-bottom: 66.66%; }
      .article-grid .tile .image-wrapper img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0; }
    .article-grid .tile .caption {
      padding: 20px; }
    .article-grid .tile .date {
      font-size: 14px;
      line-height: 18px;
      color: #666; }
      .article-grid .tile .date a {
        color: #666;
        text-decoration: none; }
        .article-grid .tile .date a:hover, .article-grid .tile .date a:active, .article-grid .tile .date a:focus {
          color: #000; }
    .article-grid .tile .title {
      position: relative;
      font-size: 18px;
      font-weight: normal;
      line-height: 23px;
      margin: 22px 0 15px 0;
      color: #000;
      height: 40px;
      overflow: hidden;
      margin-bottom: 15px; }
      .article-grid .tile .title:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 22px;
        background: rgba(255, 255, 255, 0);
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }
      .article-grid .tile .title a {
        color: #000;
        text-decoration: none; }
        .article-grid .tile .title a:hover, .article-grid .tile .title a:active, .article-grid .tile .title a:focus {
          color: #000; }
    .article-grid .tile .expert {
      font-size: 14px;
      line-height: 18px;
      margin: 6px 0 0 0;
      color: #000; }
      .article-grid .tile .expert a {
        color: #000;
        text-decoration: none; }
        .article-grid .tile .expert a:hover, .article-grid .tile .expert a:active, .article-grid .tile .expert a:focus {
          color: #000; }

.bottom-more {
  padding-bottom: 40px; }
  .bottom-more a {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding: 17px;
    border-radius: 4px;
    background-color: #000; }
    .bottom-more a:hover, .bottom-more a:active, .bottom-more a:focus {
      text-decoration: none;
      opacity: .8; }

.header-stripe {
  background-color: #444;
  padding: 15px 0; }
  .header-stripe .entry-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 45px;
    color: #fff;
    margin: 0;
    padding: 0;
    border-width: 0; }

.filters-stripe {
  padding: 35px 0 10px 0;
  background-color: #f1f1f1; }
  .filters-stripe .filters-box {
    display: flex;
    flex-wrap: wrap; }
    .filters-stripe .filters-box .filter-box {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
      font-size: 12px;
      font-weight: bold;
      color: #000;
      margin-bottom: 30px; }
      @media (min-width: 768px) and (max-width: 921px) {
        .filters-stripe .filters-box .filter-box {
          flex-basis: 50%; }
          .filters-stripe .filters-box .filter-box:nth-child(2n) {
            padding-left: 15px;
            padding-right: 0; }
          .filters-stripe .filters-box .filter-box:nth-child(2n+1) {
            padding-left: 0;
            padding-right: 15px; } }
      @media (min-width: 922px) {
        .filters-stripe .filters-box .filter-box {
          padding: 0 15px;
          flex-basis: 25%; }
          .filters-stripe .filters-box .filter-box:first-child {
            padding-left: 0; }
          .filters-stripe .filters-box .filter-box:last-child {
            padding-right: 0; } }
      .filters-stripe .filters-box .filter-box select {
        width: 100%;
        font-size: 16px;
        padding: 10px; }
      .filters-stripe .filters-box .filter-box select#fotd_category {
        width: 100%;
        margin: 0; }
      .filters-stripe .filters-box .filter-box input[type=button] {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding: 10px;
        margin: 0;
        background-color: #EC1F26;
        border-width: 0;
        box-shadow: none; }
        .filters-stripe .filters-box .filter-box input[type=button]:hover, .filters-stripe .filters-box .filter-box input[type=button]:active, .filters-stripe .filters-box .filter-box input[type=button]:focus {
          color: #fff;
          background-color: #b52025;
          text-decoration: none; }

#main .posts-table thead th {
  font-size: 16px;
  padding: 10px;
  background: #f5f5f5 none; }
  #main .posts-table thead th a {
    color: #666; }
    #main .posts-table thead th a:hover, #main .posts-table thead th a:active, #main .posts-table thead th a:focus {
      color: #333; }

.archive-list {
  padding-top: 10px; }
  .archive-list .article-item {
    padding: 30px 0;
    border-bottom: 1px solid #ccc; }
    .archive-list .article-item::after {
      display: block;
      content: "";
      clear: both; }
    .archive-list .article-item .article-thumb {
      position: relative;
      width: 175px;
      height: 100px;
      overflow: hidden;
      margin-bottom: 15px; }
      .archive-list .article-item .article-thumb img {
        position: absolute;
        top: 0;
        bottom: 0;
        max-width: 100%;
        height: auto; }
      @media (min-width: 922px) {
        .archive-list .article-item .article-thumb {
          float: left;
          margin-bottom: 0; } }
    .archive-list .article-item .article-date {
      font-size: 14px;
      color: #666;
      margin-bottom: 10px; }
    @media (min-width: 922px) {
      .archive-list .article-item .article-detail {
        margin-left: 210px; } }
    .archive-list .article-item .article-title {
      font-size: 16px;
      font-weight: 600;
      color: #EC1F26;
      margin-bottom: 10px; }
      .archive-list .article-item .article-title a {
        color: #EC1F26 !important; }
        .archive-list .article-item .article-title a:hover, .archive-list .article-item .article-title a:active, .archive-list .article-item .article-title a:focus {
          color: #b52025 !important; }
    .archive-list .article-item .article-expert {
      font-size: 14px;
      color: #000; }

.paging-stripe {
  padding: 30px 0;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc; }
  .paging-stripe .pagebar {
    margin: 0; }
    .paging-stripe .pagebar span, .paging-stripe .pagebar a {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      font-size: 15px;
      color: #000;
      text-align: center;
      margin-right: 5px;
      padding-top: 10px;
      background-color: #fff; }
      .paging-stripe .pagebar span.this-page, .paging-stripe .pagebar span:hover, .paging-stripe .pagebar span:active, .paging-stripe .pagebar span:focus, .paging-stripe .pagebar a.this-page, .paging-stripe .pagebar a:hover, .paging-stripe .pagebar a:active, .paging-stripe .pagebar a:focus {
        background-color: #000;
        color: #fff;
        text-decoration: none; }
    .paging-stripe .pagebar span:first-child {
      display: none; }
    .paging-stripe .pagebar > :nth-child(2) {
      background-color: transparent !important;
      background-image: url("../images/angle-double-left.svg");
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: center center; }
    .paging-stripe .pagebar > :last-child {
      background-color: transparent !important;
      background-image: url("../images/angle-double-right.svg");
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: center center; }
    .paging-stripe .pagebar > :nth-child(2), .paging-stripe .pagebar > :last-child {
      background-color: transparent !important; }

.breadcrumb-stripe {
  border-bottom: 1px solid #ccc;
  padding: 30px 0; }
  .breadcrumb-stripe div.breadcrumb {
    font-size: 16px;
    font-weight: 600;
    color: #666;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    padding: 0; }
    .breadcrumb-stripe div.breadcrumb a {
      font-weight: normal;
      color: #666; }
      .breadcrumb-stripe div.breadcrumb a:hover, .breadcrumb-stripe div.breadcrumb a:active, .breadcrumb-stripe div.breadcrumb a:focus {
        color: #000;
        text-decoration: underline; }

.single .single-wrapper {
  padding: 0 90px; }
  .single .single-wrapper #single-header {
    margin: 0;
    padding: 0; }
    .single .single-wrapper #single-header h1.entry-title {
      font-size: 32px;
      font-weight: 300;
      line-height: 40px;
      color: #00778B;
      margin: 0;
      padding: 0 0 35px 0;
      background-color: transparent;
      border-width: 0; }
  .single .single-wrapper #content {
    margin: 0 !important; }

#content .author > div.wb-image img {
  border-width: 0;
  padding: 0; }
#content .author > div.wb {
  font-size: 14px;
  line-height: 18px; }
  #content .author > div.wb a {
    color: #444;
    text-decoration: none; }
#content .author > div.posted-on {
  font-size: 14px;
  font-weight: bold;
  color: #000; }
@media (min-width: 921px) {
  #content .author {
    width: 50%;
    float: left; } }
@media (min-width: 921px) {
  #content .social-share {
    width: 50%;
    float: left; } }
#content article.post {
  clear: both; }

#comments .comments-wrapper {
  background-color: #f1f1f1;
  border-top: 1px solid #ccc; }
  #comments .comments-wrapper .comments-header {
    font-size: 24px;
    font-weight: normal;
    color: #000;
    padding: 20px 0 20px 30px;
    background: transparent url("../images/plus-circle.svg") no-repeat 0 28px;
    background-size: 22px 22px; }
  #comments .comments-wrapper #form-comment-block {
    display: none; }
    #comments .comments-wrapper #form-comment-block #respond #reply-title {
      display: none; }
#comments .comments-list {
  display: none; }
#comments.open .comments-wrapper .comments-header {
  background: transparent url("../images/minus-circle.svg") no-repeat 0 28px;
  background-size: 22px 22px; }
#comments.open .comments-wrapper #form-comment-block {
  display: block; }
#comments.open .comments-list {
  display: block; }

.contact-stripe {
  background-color: #444;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  padding: 20px 0; }

/*
 * headlines
 */
.page #content .entry-content h2 + ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc; }
  .page #content .entry-content h2 + ul li {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    background-image: none; }
    .page #content .entry-content h2 + ul li strong {
      display: block;
      width: 120px;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      color: #666; }
    .page #content .entry-content h2 + ul li a {
      display: block;
      flex-grow: 1;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      color: #EC1F26; }
      .page #content .entry-content h2 + ul li a:hover, .page #content .entry-content h2 + ul li a:active, .page #content .entry-content h2 + ul li a:focus {
        color: #b52025;
        text-decoration: underline; }

.subscribe-stripe {
  background-color: #f1f1f1; }

/*# sourceMappingURL=bsnew.css.map */
